.gitattributes

# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build
bin
.env
.settings
settings.gradle

# ignore third party assets which are installed via gradle task
src/main/resources/static/vendor/
src/main/resources/static/font/

# ignore IDE stuff
.project
WEB-INF/
.vscode/

# ignore devmode log file
app.log

# ignore resources
sample.tar.gz
.gradletasknamecache
