# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build
bin
.env
.settings

# ignore third party assets which are installed via gradle task
src/main/resources/static/vendor/

# ignore IDE stuff
.project
WEB-INF/

# ignore devmode log file
app.log

# ignore resources
sample.tar.gz
