# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build
bin
.env
.settings

# ignore third party assets which are installed via gradle task
src/main/resources/static/vendor/
