<!DOCTYPE html>
<html xml:lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{base}"
>
  <head>
    <title th:text="|Sentence ${obj.id}|"></title>
  </head>

  <body>

    <div layout:fragment="content">

      <div th:replace="fragments/details :: details-page-header"/>

      <div class="row">
        <div class="col-sm-12 col-lg-8" id="details-content" th:object="${obj}">

          <div class="occ-list-item mt-3 pt-1 pb-1" th:id="*{id}">
            <div class="sentence-line-mode">
              <div th:if="*{hasGlyphs}" class="hieroglyphs">
                <a th:each="token : *{tokens}" th:href="|#${token.id}|" th:id="${token.id}">
                  <span th:unless="${token.glyphs.empty}" th:utext="${token.glyphs.svg}"
                      th:title="${token.glyphs.mdc}" class="token-glyphs"/>
                  <th:block th:if="${token.glyphs.empty}">
                    <span th:if="${token.type} == 'destruction_marker'" class="philological">
                      //...//
                    </span>
                    <span th:if="${token.type} == 'lc'" class="philological">
                      |
                    </span>
                  </th:block>
                </a>
              </div>
              <div class="transcription">
                <p class="bbaw-libertine mb-2">
                  <span th:each="token : *{tokens}" th:id="${token.id}">
                    <a th:href="${(#mvc.url('LC#getSingleObjectDetailsPage').arg(0,token.lemma.id)).build()}"
                        th:text="${token.label}"
                        th:class="|sentence-token token-${token.type}|"
                        th:classappend="${token.rubrum} ? rubrum"/>
                  </span>
                </p>
              </div>
            </div>
          </div>

          <div th:replace="fragments/details :: translations"/>
          <div th:replace="fragments/details :: object-property-object-paths('sentence')"/>
          <div th:replace="fragments/details :: editor-info"/>

        </div>

        <!-- Sidebar large -->
        <div class="sidebar col-lg-4 d-none d-lg-block">
          <div class="sticky-top">

          </div>
        </div>
      </div>
    </div>

  </body>
</html>
