<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{base}"
>
  <head>
    <title>Sentence Search</title>
  </head>

  <body>

    <div th:if="${#request.getParameter('tokens[0].lemma.id')}" layout:fragment="content">

      <!-- result page heading -->
      <div class="search-header row mb-3">
         <div class="col-sm-12 col-md-6 rcol-lg-6 result">
            <h2 class="id mt-1" th:text="#{result_page_title_sentence}">Sentence Search Results</h2> 
            <div class="ml-3 flex"><strong th:text="#{result_page_description_query}">Search parameter</strong>: 
					<span id="queryLemmaIDHeader" th:text="#{field_label_lemma_id}"> </span> = 
					<span id="queryLemmaID" th:text="${#request.getParameter('tokens[0].lemma.id')}"> </span>
             </div>
         </div>
        <div th:replace="fragments/common :: social('sentence-search-results')"/>
      </div>
      <div th:if="${searchResults.size} > 0" >
           <p th:replace="fragments/search/results :: result-page-desc"/>
      </div>

      <div  th:if="${searchResults.size} > 0" class="row">

        <!-- search results -->
        <div class="col-lg-8 content">
          <div class= "result-list m-4">
            <nav th:replace="fragments/search/results :: search-results-pagination"/>
			<!-- Block and Annotation view -->
            <th:block th:each="obj : ${searchResults}"    th:insert="fragments/search/results :: sentence-search-result"/>
			
            <nav th:replace="fragments/search/results :: search-results-pagination"/>
          </div>
        </div>

        <!-- sidebar -->
        <div class="col-lg-4 sidebar">
          <div class="sticky-top m-4">

            <div th:replace="fragments/search/results :: hide-properties-buttons"/>

            <div th:replace="fragments/search/results :: modify-search-button(${modifySearchUrl})"/>
            <div th:replace="fragments/search/results :: search-facets"/>

          </div>
        </div>
      </div>

      <div th:if="${searchResults.size} == 0" class="row">

        <!-- no search results -->
        <div class="col-lg-8 content">
             <strong th:text="#{result_page_no_results}">No results</strong>
        </div>

        <!-- sidebar -->
        <div class="col-lg-4 sidebar">
          <div class="sticky-top m-4">
            <div th:replace="fragments/search/results :: modify-search-button(${modifySearchUrl})"/>
          </div>
        </div>
      </div>

    </div>

    <!-- no valid lemma search paramenter name -->
    <div th:unless="${#request.getParameter('tokens[0].lemma.id')}" layout:fragment="content">
      <div class="row">
        <div class="col-lg-8 content">
             <strong>404: No valid search parameter submitted.</strong>
        </div>

        <!-- sidebar -->
        <div class="col-lg-4 sidebar">
          <div class="sticky-top m-4">
            <div th:replace="fragments/search/results :: modify-search-button(${modifySearchUrl})"/>
          </div>
        </div>
      </div>
    </div>
	
  </body>
</html>
