<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{base}"
>
  <head>
    <title>Sentence Search</title>
  </head>

  <body>

   <div layout:fragment="content" th:with="lemmaID=${#request.getParameter('tokens[0].lemma.id')}">
   
    <!-- loading animation -->
	 <!--<div class="loader-wrapper">
	  <span class="loader"><span class="loader-inner"></span></span>
	</div>-->
	
		<div class="d-flex justify-content-center align-items-center spinner-wrapper">
			<span class="spinner-border text-danger m-2" role="status"></span>
			<span class="m-2">Loading...</span>
		</div>
			
    <div class="hidden-content hide-content" th:if="${lemmaID} != null AND ${lemmaID} != ''">

      <!-- result page heading -->
      <div class="search-header row mb-3">
         <div class="col-sm-12 col-md-6 rcol-lg-6 result">
            <h2 class="id mt-1" th:text="#{result_page_title_sentence}">Sentence Search Results</h2> 
            <div class="ml-3 flex"><strong th:text="#{result_page_description_query}">Search parameter</strong>: 
					<span id="queryLemmaIDHeader" th:text="#{field_label_lemma_id}"> </span> = 
					<span id="queryLemmaID" th:text="${lemmaID}"> </span>
             </div>
         </div>
        <div th:replace="fragments/common :: social('sentence-search-results')"/>
      </div>
      <div th:if="${searchResults.size} > 0" >
           <p th:replace="fragments/search/results :: result-page-desc"/>
      </div>

      <div  th:if="${searchResults.size} > 0" class="row">

        <!-- search results -->
        <div class="col-lg-8 content">
          <div class= "result-list m-sm-0 m-lg-4">
            <nav th:replace="fragments/search/results :: search-results-pagination"/>
			<!-- Block and Annotation view -->
            <th:block th:each="obj : ${searchResults}"    th:insert="fragments/search/results :: sentence-search-result"/>
			
            <nav th:replace="fragments/search/results :: search-results-pagination"/>
          </div>
        </div>

        <!-- sidebar -->
        <div class="col-lg-4 sidebar">
          <div class="sticky-top m-sm-0 m-lg-4">

            <div th:replace="fragments/search/results :: hide-properties-buttons"/>

            <!--<div th:replace="fragments/search/results :: modify-search-button(${modifySearchUrl})"/>-->
            <div th:replace="fragments/search/results :: search-facets"/>

          </div>
        </div>
      </div>

      <div th:if="${searchResults.size} == 0" class="row">

        <!-- no search results -->
        <div class="col-lg-8 content">
             <strong th:text="#{result_page_no_results}">No results</strong>
        </div>

        <!-- sidebar -->
        <!--<div class="col-lg-4 sidebar">
          <div class="sticky-top m-4">
            <div th:replace="fragments/search/results :: modify-search-button(${modifySearchUrl})"/>
          </div>
        </div>-->
      </div>

    </div>

    <!-- no valid lemma search paramenter name -->
    <div th:if="${lemmaID} == null OR ${lemmaID} == ''">
      <div class="row">
        <div class="col-lg-8 content">
             <strong>404: No valid search parameter submitted.</strong>
        </div>

        <!-- sidebar -->
        <!--<div class="col-lg-4 sidebar">
          <div class="sticky-top m-sm-0 m-lg-4">
            <div th:replace="fragments/search/results :: modify-search-button(${modifySearchUrl})"/>
          </div>
        </div>-->
      </div>
    </div>
	
	 <script>
        $(window).on("load",function(){
          //$(".loader-wrapper").addClass("hide");
          $(".spinner-wrapper").addClass("hide-content");
          $(".hidden-content").addClass("show-content");
        });
    </script>
	
   </div>
  </body>
</html>
