<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{base}"
>
  <head>
    <title>Sentence Search</title>
  </head>

  <body>

    <div layout:fragment="content">

      <!-- result page heading -->
      <div class="search-header row mb-3">
         <div class="col-sm-12 col-md-6 rcol-lg-6 result">
            <h2 class="id mt-1" th:text="#{result_page_title_sentence}">Sentence Search Results</h2> 
         </div>
        <div th:replace="fragments/common :: social('sentence-search-results')"/>
      </div>
      <p th:replace="fragments/search/results :: result-page-desc"/>

      <div class="row">

        <!-- search results -->
        <div class="col-lg-8 content">
          <div class= "result-list m-4">
            <nav th:replace="fragments/search/results :: search-results-pagination"/>
			<!-- Block and Annotation view -->
            <th:block th:each="obj : ${searchResults}"    th:insert="fragments/search/results :: sentence-search-result"/>
			
            <nav th:replace="fragments/search/results :: search-results-pagination"/>
          </div>
        </div>

        <!-- sidebar -->
        <div class="col-lg-4 sidebar">
          <div class="sticky-top m-4">

            <div th:replace="fragments/search/results :: hide-properties-buttons"/>
<!-- <button class="btn btn-block btn-secondary disabled  text-left" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample"  th:text="#{field_label_translation}">
   Translations
  </button> 

 <div class="collapse" id="collapseExample" align="right">
  <div class="indented-buttons indented-buttons-lang hide" style="display: block;">
                   
     <div  th:replace="fragments/search/results :: show-properties-buttons"/>
   
 
</div>
</div>-->

            <div th:replace="fragments/search/results :: modify-search-button(${modifySearchUrl})"/>
            <div th:replace="fragments/search/results :: search-facets"/>

          </div>
        </div>
      </div>

    </div>
  </body>
</html>
