<!DOCTYPE html>
<html 
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xml:lang="en"
      layout:decorate="~{base}"
>
  <head>
    <title th:text="${obj.name} + ' (' + ${obj.id} + ')'"></title>
  </head>
  
  <body>

    <div layout:fragment="content">

      <div th:replace="fragments/details :: details-page-header"/>

      <div class="row">
        <div class="col-sm-12 col-lg-8" id="details-content" th:object="${obj}">
        
          <div th:replace="fragments/details :: lemma-property-hieroglyphs"/>
          
          <!-- persistente URL / ID -->
          <div>
            <hr/>
            <p>         
              <strong>Persistent lemma ID:</strong>
              <span th:text="${obj.id}" id="id">Lemma ID</span>
              <script> 
              </script>
              <button type="button" class="btn btn-light btn-sm text-left text-decoration-none copy-to-clipboard-btn" th:onclick="copyStringToClipboard(document.getElementById('id').textContent)" ><span class="fas fa-clipboard"></span>&nbsp;<span th:text="#{lemma_copyID}">Copy ID</span></button>
              <br/>
              <strong>Persistent URL:</strong>
              <!-- Zitationsbutton -->
              <span th:text="${obj.name} +' (Lemma ID '+ ${obj.id} +'), <' +  ${env.baseUrl} + '/lemma/' + ${obj.id} + '>, in: ' + #{tla_Title} + ' <' + ${env.baseUrl} + '>, Version '+ #{corpusversion} + ' , ' +  #{tla_ReleaseDate} + ', ed. by ' + #{tla_Editor} + ' ('+ #{lemma_citeaccessed}+ ' '" id="citation" style="display:none"></span>
              <span th:text="|${env.baseUrl}/lemma/${obj.id}|">http://tla.bbaw.de/lemma/xxx</span>
              <button type="button" class="btn btn-light btn-sm text-left text-decoration-none copy-to-clipboard-btn" onclick="copyCitationToClipboard(document.getElementById('citation').textContent)"><span class="fas fa-clipboard"></span><!--BUG:Ikon erscheint nicht-->&nbsp;<span th:text="#{lemma_copycitation}">Copy citation<span></button>        
            </p>
          </div>

          <!-- Sub-Wörterbuch hier./dem.  -->
          <div th:replace="fragments/details :: lemma-property-dict"/>
          <div th:replace="fragments/details :: object-property-type-subtype(${objectType})"/>
          <div th:replace="fragments/details :: translations"/>
          <div th:replace="fragments/details :: object-property-passport-properties"/>
          <div th:replace="fragments/details :: lemma-property-attestations"/>
          <div th:replace="fragments/details :: bibliography"/>
          <div th:replace="fragments/details :: external-references"/>
          <div th:replace="fragments/details :: single-entry-annotations"/>
          <div th:replace="fragments/details :: editor-info"/>
          <div th:replace="fragments/details :: object-property-related-objects"/>
          <div th:replace="fragments/details :: object-property-citationBox"/>

        </div>  <!-- close content col-sm-12 -->

        <!-- Sidebar large -->
        <div class="sidebar col-lg-4 d-none d-lg-block">
          <div class="sticky-top">

          </div>
        </div>
      </div>
    </div>  
  </body>
</html>
