<!DOCTYPE html>
<html xml:lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{base}"
>
  <head>
    <title th:text="${obj.name} + ' (' + ${obj.id} + ')'"></title>
  </head>

  <body>

    <div layout:fragment="content">

      <div th:replace="fragments/details :: details-page-header"/>

      <div class="row">
        <div class="col-sm-12 col-lg-8" id="details-content" th:object="${obj}">

          <div th:replace="fragments/details :: lemma-property-hieroglyphs"/>

          <!-- persistente URL / ID -->
          <div>
            <hr/>
            <p>
              <strong>Persistent lemma ID:</strong>
              <span th:text="${obj.id}">Lemma ID</span>
              <button type="button" class="btn btn-light btn-sm text-left text-decoration-none copy-to-clipboard-btn" onclick="copyStringToClipboard('{{obj.id}}')"><span class="fas fa-clipboard"></span>Copy ID</button>
              <br/>
              <strong>Persistent URL:</strong>
              <span th:text="|${env.baseUrl}/lemma/${obj.id}|">http://tla.bbaw.de/lemma/xxx</span>
              <button type="button" class="btn btn-light btn-sm text-left text-decoration-none copy-to-clipboard-btn" onclick="copyStringToClipboard('TLA lemma ID {{obj.id}} ({{obj.name}}), &lt;{{env.baseUrl}}/lemma/{{obj.id}}&gt;, in: {{tlaTitle}} &lt;{{tlaBaseURL}}&gt;, Version {{tlaVersion}}.{{tlaIssue}}, {{tlaReleaseDate}}, ed. by {{tlaEditor}} (accessed: {{dateToday}})');">
                <span class="fas fa-clipboard"></span>Copy citation
              </button>
            </p>
          </div>

          <!-- Sub-Wörterbuch hier./dem.  -->
          <div th:replace="fragments/details :: lemma-property-dict"/>
          <div th:replace="fragments/details :: lemma-property-part-of-speech"/>
          <div th:replace="fragments/details :: translations"/>
          <div th:replace="fragments/details :: lemma-property-attestations"/>
          <div th:replace="fragments/details :: bibliography"/>
          <div th:replace="fragments/details :: external-references"/>
          <div th:replace="fragments/details :: single-entry-annotations"/>
          <div th:replace="fragments/details :: editor-info"/>
          <div th:replace="fragments/details :: lemma-property-related-objects"/>

        </div>  <!-- close content col-sm-12 -->

        <!-- Sidebar large -->
        <div class="sidebar col-lg-4 d-none d-lg-block">
          <div class="sticky-top">

          </div>
        </div>
      </div>
    </div>

  </body>
</html>
