<!DOCTYPE html>
<html 
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xml:lang="en"
      layout:decorate="~{base}"
>
  <head>
    <title th:text="${obj.name} + ' (' + #{object_id_label_BTSLemmaEntry} + ' ' + ${obj.id} + ')'"></title>
  </head>
  
  <body>

    <div layout:fragment="content">

      <div th:replace="fragments/details :: details-page-header"/>

      <div class="row">
        <div class="col-sm-12 col-lg-8" id="details-content" th:object="${obj}">
          <a th:replace="fragments/common :: review-state(${obj})"/>
        
          <div th:replace="fragments/details :: lemma-property-hieroglyphs"/>
          <div th:replace="fragments/details :: property-pid('lemma')"/>
          <div th:replace="fragments/details :: lemma-property-dict"/>
          <div th:replace="fragments/details :: object-property-type-subtype(${objectType})"/>
          <div th:replace="fragments/details :: translations"/>
          <div th:replace="fragments/details :: object-property-passport-properties"/>
          <th:block th:unless="${obj.type == 'root'}"><div th:replace="fragments/details :: lemma-property-attestations"/></th:block>
          <div th:replace="fragments/details :: bibliography"/>
          <div th:replace="fragments/details :: external-references"/>
          <div th:replace="fragments/details :: single-entry-annotations"/>
          <div th:replace="fragments/details :: editor-info"/>
        </div>  <!-- close content col-sm-12 -->
      </div>
      <div class="row">
        <div class="col-sm-12 col-lg-8" id="details-content-2" th:object="${obj}">
          <div th:replace="fragments/details :: object-property-related-objects"/>
		  
          <div th:replace="fragments/details :: object-property-citationBox('lemma')"/>

        </div>  <!-- close content col-sm-12 -->

				<!-- Sidebar large -->
			<div class="sidebar col-lg-4 d-none d-lg-block"  th:object="${obj}"  th:unless="${#maps.isEmpty(relations)}">
				<div class="sticky-top">
					<div th:replace="fragments/search/results :: hide1Lemma-properties-buttons"/>
					  <button class="btn btn-block btn-secondary text-left text-decoration-none show-detail languages-btn" type="button" th:text="#{field_label_translation}" >Translations</button>
					  <div class="indented-buttons indented-buttons-lang hide" style="display: block;">
						 <div  th:replace="fragments/search/results :: show-properties-buttons"/>
					</div>
            <div th:replace="fragments/search/results :: hide2Lemma-properties-buttons"/>
			</div>
        </div>
      </div>
    </div>  
  </body>
</html>
