<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{base}"
>
  <head>
    <title>Lemma Search</title>
  </head>

  <body>
  <div id="printable-content" class="container content">
 <div class="container content my-4">
    <div layout:fragment="content">
      <!-- result page heading -->
     
      <div class="search-header row mb-3">
          
      <div class="col-sm-12 col-md-6 rcol-lg-6 result">
            <h2 class="id mt-1" th:text="#{result_page_title_lemma}">Lemma Search Results</h2> 
            <div class="ml-3 flex"><strong th:text="#{result_page_description_query}">Search parameter</strong>: 
            <span id="queryScriptHeader"> </span>
            <strong id="queryScript"> </strong>
            <span id="queryTranscriptionHeader"> </span>
            <strong id="queryTranscription" class="bbaw-libertine"> </strong>
            <span id="queryEncodingHeader"> </span>
            <strong id="queryEncoding"> </strong>
            <span id="queryWordClassHeader"> </span>
            <strong id="queryWordClass"> </strong>
            <span id="queryWordClassSubtypeHeader"> </span>
            <strong id="queryWordClassSubtype"> </strong>
            <span id="queryRootHeader"> </span>
            <strong id="queryRoot" class="bbaw-libertine"> </strong>
            <span id="queryRootEncodHeader"> </span>
            <strong id="queryRootEncod"> </strong>
            <span id="queryTranslationTextHeader"> </span>
            <strong id="queryTranslationText"> </strong>
            <span id="queryTranslationLangHeader"> </span>
            <strong id="queryTranslationLang"> </strong>
            <span id="queryBibliographyHeader"> </span>
            <strong id="queryBibliography"> </strong>
            <!--<span id="queryAnnoHeader"> </span>
            <strong id="queryAnno"> </strong>-->
           
            <script th:inline="javascript">
          //<![CDATA[
          {
        	  // Lemma List = "Hieroglyphic/Hieratic" / "Demotic" ; Transliteration = "nfr" ; Encoding = "Manuel de Codage" ; Part of Speech = "(any_but_names)"
        	  const queryString = window.location.search;
        	  const urlParams = new URLSearchParams(queryString);
        	
        	  var script=urlParams.getAll('script');
        	  if((script != "") && (script != null)) {
				  if(script=="demotic") script= /*[[#{field_value_label_script_demotic}]]*/; 
				  else if (script=="hieratic") script= /*[[#{field_value_label_script_hieratic}]]*/;
				  else if (script=="hieratic,demotic") script= /*[[|#{field_value_label_script_hieratic} \/ #{field_value_label_script_demotic}|]]*/;
				  document.getElementById("queryScriptHeader").innerHTML =/*[[|#{field_label_script} = |]]*/;
				  document.getElementById("queryScript").innerHTML =script;
			  }
        	 
        	  var transcription=urlParams.get('transcription');
        	  if((transcription != "") && (transcription != null)) {
        		  document.getElementById("queryTranscriptionHeader").innerHTML =/*[[| ; #{field_label_transliteration} = |]]*/;
            	  document.getElementById("queryTranscription").innerHTML ="\""+transcription+"\"";
				 var encod=urlParams.get('transcription_enc');
				  if((encod != "")&&(encod != null)) {
					  document.getElementById("queryEncodingHeader").innerHTML =/*[[| ; #{field_label_transliteration_encoding} = |]]*/;
					  document.getElementById("queryEncoding").innerHTML=/*[[#{|field_value_label_enc_${param.transcription_enc}|}]]*/;
				 }	 
        	  }	  
        	 
        	  var pos=urlParams.get('wordClass.type');
        	  if((pos!="")&&(pos!=null)){
				  document.getElementById("queryWordClassHeader").innerHTML =/*[[| ; #{field_label_wordClass_type} = |]]*/;
				  document.getElementById("queryWordClass").innerHTML =/*[[#{|field_value_label_wordClass_type_${#request.getParameter('wordClass.type')}|}]]*/;
        	  }
        	  var pos_subtype=urlParams.get('wordClass.subtype');
        	  if((pos_subtype!="")&&(pos_subtype!=null)) {
        	      document.getElementById("queryWordClassSubtypeHeader").innerHTML =/*[[| ; #{field_label_wordClass_subtype} = |]]*/;
        	      document.getElementById("queryWordClassSubtype").innerHTML =/*[[#{|field_value_label_wordClass_subtype_${#request.getParameter('wordClass.subtype')}|}]]*/;
        	  }
        	  
        	  var root=urlParams.get('root');
			  if((root!="")&& (root !=null)){
				  root= "\""+root+"\"";
				  document.getElementById("queryRootHeader").innerHTML =/*[[| ; #{field_label_root_transliteration} = |]]*/;
				  document.getElementById("queryRoot").innerHTML =root;
				 var root_encod=urlParams.get('root_enc');
				  if((root_encod != "")&&(root_encod != null)) {
					  document.getElementById("queryRootEncodHeader").innerHTML =/*[[| ; #{field_label_root_transliteration_encoding} = |]]*/;
					  document.getElementById("queryRootEncod").innerHTML =/*[[#{|field_value_label_enc_${param.root_enc}|}]]*/;
				  }
        	  }
        	   
        	  var translation=urlParams.get('translation.text');
        	  if((translation != "") && (translation !=null)){
				  translation="\""+translation+"\"";
				  document.getElementById("queryTranslationTextHeader").innerHTML =/*[[| ; #{field_label_translation} = |]]*/;
				  document.getElementById("queryTranslationText").innerHTML =translation;
				  var transl_lang=urlParams.get('translation.lang');
				  if((transl_lang != "") && (transl_lang !=null)){
					  document.getElementById("queryTranslationLangHeader").innerHTML =/*[[| ; #{field_label_translation_lang} = |]]*/;
					  document.getElementById("queryTranslationLang").innerHTML =/*[[#{|button_label_show_property_${#request.getParameter('translation.lang')}|}]]*/;
				  }
        	  }
        	 
        	       	  
        	  var biblio=urlParams.get('bibliography');
        	  if((biblio != "") && (biblio !=null)) {
				  biblio="\""+biblio+"\"";
				  document.getElementById("queryBibliographyHeader").innerHTML =/*[[| ; #{field_label_bibliography} = |]]*/;
				  document.getElementById("queryBibliography").innerHTML =biblio;
        	  }
        	  
        	 // var anno=urlParams.get('anno.type');
        	 // if((anno !="") && (anno != null)){
        	  //anno="\""+anno+"\"";
        	  //document.getElementById("queryAnnoHeader").innerHTML =/*[[| ; #{field_label_annotation-type_type} = |]]*/;
    	      //document.getElementById("queryAnno").innerHTML =anno;
        	  //}
        	    

          }
          //]]>
          </script>
             </div>
         
          </div>
          <div th:replace="fragments/common :: social('lemma-search-results')"/>
        
        </div>
        <div th:if="${searchResults.size} > 0" class="row searchresult"> 
        <p th:replace="fragments/search/results :: result-page-desc"/>
        </div>
     

      <div th:if="${searchResults.size} > 0" class="row">

        <!-- search results -->
        <div class="col-lg-8 content">
          <div class= "result-list m-4">
            <nav th:replace="fragments/search/results :: search-results-pagination"/>

            <th:block th:each="obj : ${searchResults}" th:insert="fragments/search/results :: lemma-search-result"/>

            <nav th:replace="fragments/search/results :: search-results-pagination"/>
          </div>
        </div>

        <!-- sidebar -->
        <div class="col-lg-4 sidebar">
          <div class="sticky-top m-4">

            <div th:replace="fragments/search/results :: lemma-sort-order-select"/>
            <div th:replace="fragments/search/results :: hide1Lemma-properties-buttons"/>
        
 
  <button class="btn btn-block btn-secondary text-left text-decoration-none show-detail languages-btn" type="button" th:text="#{field_label_translation}" >
   Translations   
  </button>
  <div class="indented-buttons indented-buttons-lang hide" style="display: block;">
                   
     <div  th:replace="fragments/search/results :: show-properties-buttons"/>
   
 
</div>

            <div th:replace="fragments/search/results :: hide2Lemma-properties-buttons"/>
            <div th:replace="fragments/search/results :: modify-search-button(${modifySearchUrl})"/>
            <div th:replace="fragments/search/results :: search-facets"/>

          </div>
        </div>
      </div>

      <div th:if="${searchResults.size} == 0" class="row">

        <!-- no search results -->
        <div class="col-lg-8 content">
             <strong th:text="#{result_page_no_results}">No results</strong>
        </div>

        <!-- sidebar -->
        <div class="col-lg-4 sidebar">
          <div class="sticky-top m-4">
            <div th:replace="fragments/search/results :: modify-search-button(${modifySearchUrl})"/>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
  </body>
</html>
