<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{base}"
>
  <head>
    <title>Lemma Search</title>
  </head>

  <body>
  <div id="printable-content" class="container content">
 <div class="container content my-4">
    <div layout:fragment="content">
      <!-- result page heading -->
     
      <div class="search-header row mb-3">
          
      <div class="col-sm-12 col-md-6 rcol-lg-6 result">
            <h2 class="id mt-1" th:text="#{result_page_title_lemma}">Lemma Search Results</h2> 
            <div class="ml-3 flex" th:with="script = ${param.script}, transliteration =${#request.getParameter('transcription.text')}, transliteration_enc =${#request.getParameter('transcription.enc')}, posType =${#request.getParameter('wordClass.type')}, posSubtype =${#request.getParameter('wordClass.subtype')}, root = ${param.root}, root_enc = ${param.root_enc}, translation =${#request.getParameter('translation.text')}, translation_lang =${#request.getParameter('translation.lang')}, bibliography = ${param.bibliography}" ><!-- , annotation_type =${#request.getParameter('anno.type')}-->
				<strong th:text="#{result_page_description_query}">Search parameter</strong>: 
				<span th:unless="${#strings.isEmpty(script)}"><span th:text="#{field_label_script}"/> = <strong th:if="${#strings.contains(script, 'hieratic')}" th:text="#{field_value_label_script_hieratic}"/> <span th:if="${#strings.contains(script, ',')}">/</span> <strong th:if="${#strings.contains(script, 'demotic')}" th:text="#{field_value_label_script_demotic}"/></span>
				<span th:unless="${#strings.isEmpty(transliteration)}"> ; <span th:text="#{field_label_transliteration}"/> = "<strong class="bbaw-libertine" th:text="${transliteration}"/>"
					<span th:unless="${#strings.isEmpty(transliteration_enc)}"> (<span th:text="#{field_label_transliteration_encoding}"/> = <strong th:text="#{|field_value_label_enc_${transliteration_enc}|}"/>)</span>
				</span>
				<span th:unless="${#strings.isEmpty(posType)}"> ; <span th:text="#{field_label_wordClass_type}"/> = "<strong th:text="#{|field_value_label_wordClass_type_${posType}|}"/>"
					<span th:unless="${#strings.isEmpty(posSubtype)}"> (<span th:text="#{field_label_wordClass_subtype}"/> = <strong th:text="#{|field_value_label_wordClass_subtype_${posSubtype}|}"/>)</span>
				</span>
				<span th:unless="${#strings.isEmpty(root)}"> ; <span th:text="#{field_label_root_transliteration}"/> = "<strong class="bbaw-libertine" th:text="${root}"/>"
					<span th:unless="${#strings.isEmpty(root_enc)}"> (<span th:text="#{field_label_root_transliteration_encoding}"/> = <strong th:text="#{|field_value_label_enc_${root_enc}|}"/>)</span>
				</span>
				<span th:unless="${#strings.isEmpty(translation)}"> ; <span th:text="#{field_label_translation}"/> = "<strong th:text="${translation}"/>"
					<span th:unless="${#strings.isEmpty(translation_lang)}"> (<span th:text="#{field_label_translation_lang}"/> = <strong th:text="#{|button_label_show_property_${translation_lang}|}"/>)</span>
				</span>
				<span th:unless="${#strings.isEmpty(bibliography)}"> ; <span th:text="#{field_label_bibliography}"/> = "<strong th:text="${bibliography}"/>"</span>
				<!--<span th:unless="${#strings.isEmpty(annotation_type)}"> ; <span th:text="#{field_label_annotation-type_type}"/> = "<strong th:text="${annotation_type}"/>"</span>-->
             </div>
         
          </div>
          <div th:replace="fragments/common :: social('lemma-search-results')"/>
        
        </div>
        <div th:if="${searchResults.size} > 0" class="row searchresult"> 
        <p th:replace="fragments/search/results :: result-page-desc"/>
        </div>
     

      <div th:if="${searchResults.size} > 0" class="row">

        <!-- search results -->
        <div class="col-lg-8 content">
          <div class= "result-list m-sm-0 m-lg-4">
            <nav th:replace="fragments/search/results :: search-results-pagination"/>

            <th:block th:each="obj : ${searchResults}" th:insert="fragments/search/results :: lemma-search-result"/>

            <nav th:replace="fragments/search/results :: search-results-pagination"/>
          </div>
        </div>

        <!-- sidebar -->
        <div class="col-lg-4 sidebar">
          <div class="sticky-top m-sm-0 m-lg-4">

            <div th:replace="fragments/search/results :: lemma-sort-order-select"/>
            <div th:replace="fragments/search/results :: hide1Lemma-properties-buttons"/>
        
 
  <button class="btn btn-block btn-secondary text-left text-decoration-none show-detail languages-btn" type="button" th:text="#{field_label_translation}" >
   Translations   
  </button>
  <div class="indented-buttons indented-buttons-lang hide" style="display: block;">
                   
     <div  th:replace="fragments/search/results :: show-properties-buttons"/>
   
 
</div>

            <div th:replace="fragments/search/results :: hide2Lemma-properties-buttons"/>
            <div th:replace="fragments/search/results :: modify-search-button(${modifySearchUrl})"/>
            <div th:replace="fragments/search/results :: search-facets"/>

          </div>
        </div>
      </div>

      <div th:if="${searchResults.size} == 0" class="row">

        <!-- no search results -->
        <div class="col-lg-8 content">
             <strong th:text="#{result_page_no_results}">No results</strong>
        </div>

        <!-- sidebar -->
        <div class="col-lg-4 sidebar">
          <div class="sticky-top m-sm-0 m-lg-4">
            <div th:replace="fragments/search/results :: modify-search-button(${modifySearchUrl})"/>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
  </body>
</html>
