<?xml version="1.0"?>
<html xmlns:th="http://thymeleaf.org">
  <body>

    <!-- Header containing main navigational menu -->

    <header id="header" class="header" th:fragment="header">
      <!-- Navigation -->
      <nav class="navbar navbar-expand-lg navbar-light bg-white fixed-top">
        <div class="container">
          <a class="navbar-brand" href="/">TLA</a>
          <h1 th:text="${env.appName}">Thesaurus Linguae Aegyptiae</h1>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"/>
          </button>
          <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item">
                <a class="nav-link" href="/search" th:text="#{menu_global_search}">Search</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">TLA</a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="/info/introduction" th:text="#{editorial_title_info_introduction}">Introduction</a>
                  <a class="dropdown-item" href="/info/project" th:text="#{editorial_title_info_project}">Project</a>
                  <a class="dropdown-item" href="/info/collaboration" th:text="#{editorial_title_info_collaboration}">Collaboration</a>
                  <a class="dropdown-item" href="/info/license" th:text="#{editorial_title_info_license}">License</a>
                </div>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/info/dictionary" th:text="#{editorial_title_info_dictionary}">Dictionary</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/info/text-corpus" th:text="#{editorial_title_info_text-corpus}">Text Corpus</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/info/extras" th:text="#{editorial_title_info_extras}">Extras</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown2" role="button"
                  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" th:text="#{menu_global_help}">Help</a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown2">
                  <a class="dropdown-item" href="/help" th:text="#{editorial_title_help}">General help</a>
                  <a class="dropdown-item" href="/help/bts-glossings" th:text="#{editorial_title_help_bts-glossings}">BTS glossing</a>
                  <a class="dropdown-item" href="/help/ling-glossings" th:text="#{editorial_title_help_ling-glossings}">Linguistic glossing</a>
                </div>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="langDropdown" role="button"
                  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <i class="far fa-flag"></i>
                  <span th:text="#{menu_global_lang}">Language</span>
                </a>
                <div class="dropdown-menu" aria-labelledby="langDropdown">
                  <a th:each="lang : ${env.l10n}" href="#" class="dropdown-item" th:text="#{|lang_label_${lang}}"
                      th:href="${@templateUtils.setQueryParam('lang', lang)}">English</a>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </header>


    <!-- page footer-->

    <footer class="py-5 bg-light" th:fragment="footer">
      <div class="container">
        <div class="row">
          <div class="col-sm-7 col-lg-4">
            <address>
              <strong>Thesaurus Linguae Aegyptiae</strong>
              <br/>
              Strukturen und Transformationen des Wortschatzes der ägyptischen Sprache
              <br/><br/>
              <a href="/" th:text="${env.baseUrl}">https://tla.bbaw.de</a>
            </address>
          </div>
          <div class="col-sm-4 col-lg-2 contact">
            <a href="/contact" target="_blank" th:text="#{editorial_title_contact}">Contact</a>
            <br/>
            <a href="/legal/imprint" target="_blank" th:text="#{editorial_title_legal_imprint}">Imprint</a>
            <br/>
            <a href="/legal/privacy" target="_blank" th:text="#{editorial_title_legal_privacy}">Privacy policy</a>
            <br/>
            <span id="cookie-info">(Cookies not yet accepted)</span>
          </div>
          <div class="footer-logo col-sm-6 col-lg-3">
            <a href="http://www.saw-leipzig.de" target="_blank">
              <img class="logo-img" th:src="@{/img/logo_saw.png}"/>
            </a>
          </div>
          <div class="footer-logo col-sm-6 col-lg-3">
            <a href="http://www.bbaw.de" target="_blank">
              <img class="logo-img" th:src="@{/img/logo_bbaw.png}"/>
            </a>
          </div>
        </div>
      </div>
    </footer>


    <!-- page breadcrumbs -->

    <div id="breadcrumbs" class="row" th:fragment="breadcrumbs">
      <div class="col-12">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li th:each="item : ${breadcrumbs}" class="breadcrumb-item" th:classappend="${itemStat.last} ? 'active' : ''">
              <a th:unless="${item.href} == null" th:href="${item.href}" th:text="#{${item.label}}"></a>
              <span th:unless="${item.href} != null" th:text="#{${item.label}}"></span>
            </li>
          </ol>
        </nav>
      </div>
    </div>


    <!-- social media stuff for top right header placement -->

    <div id="social" class="button-bar col-md-4 align-right align-baseline d-none d-lg-block" th:fragment="social">
      <div class="functional-icons">
        <a href="#" class="btn btn-light solo-icon" role="button" data-toggle="modal" data-target="#modal_sharing">
          <span class="mr-2">Share</span>
          <i class="fa fa-share-alt share-results"></i></a>
      </div>
      <div class="functional-icons">
        <a href="#" class="btn btn-light solo-icon" role="button" data-toggle="modal" data-target="#modal_comments">
          <span class="mr-2">Comment</span>
          <i class="far fa-comment"></i></a>
      </div>
      <div class="functional-icons">
        <a class="btn btn-red text-left text-decoration-none solo-icon" role="button" href="/help/lemma" target="_blank">
          <span class="mr-2">Pagehelp</span>
          <i class="fas fa-info-circle"></i></a>
      </div>
    </div>


    <!-- icon indicating review state -->
    <a th:fragment="review-state(obj)" class="review-state" th:title="|Review status: #{|review_state_${obj.reviewState}}|">
      <span class="solo-icon red-status float-right badge badge-pill badge-light">
        <span class="font-weight-light" th:text="#{|review_state_${obj.reviewState}}|">Reviewed</span>
        <span class="icon" th:classappend="${#strings.equals(obj.reviewState, 'published')} ? ok : (${#strings.endsWith(obj.reviewState, 'obsolete')} ? notok : pending)"/>
      </span>
    </a>

    <!-- translation for a single language -->
    <span th:fragment="single-lang-translation(entry)">
      <span class="lang-icon text-uppercase" th:text="${entry.key}">DE</span>
      <span th:each="translation,iter : ${entry.value}" th:class="|translation-${entry.key}|">
        <span class="translation" th:utext="${{translation}}">
          Translation
        </span>
        <span th:unless="${iter.last}">|</span>
      </span>
    </span>

    <!-- object path (thesaurus, text corpus, sentences) -->
    <div th:fragment="object-paths(objectPaths, collapse)" class="object-paths mt-2">
      <div th:each="objectPath, outerIter : ${objectPaths}" class="object-path">
        <div th:each="item, iter : ${objectPath}" class="object-path-element">
          <i th:class="|object-path-icon ${item.eclass} ${item.type}|"></i>
          <a th:if="${item.href} != null" th:href="${item.href}">
            <span th:utext="${{item.label}}">
              corpus path segment
            </span>
          </a>
          <span th:unless="${item.href} != null">
            <span th:utext="${{item.label}}" th:class="${iter.last} ? lc">
              corpus path segment
            </span>
          </span>
        </div>
      </div>
    </div>

    <!-- sentence hieroglyphs -->
    <div th:fragment="sentence-hieroglyphs" th:if="*{hasGlyphs}" class="result-list-item-element hieroglyphs">
      <a th:each="token : *{tokens}" th:href="|#${token.id}|" th:id="${token.id}">
        <div th:replace=" :: token-hieroglyphs"/>
      </a>
    </div>

    <!-- sentence transcription -->
    <div th:fragment="sentence-transcription" class="transcription">
      <p class="bbaw-libertine mb-2">
        <span th:each="token : *{tokens}" th:id="${token.id}">
          <a th:href="${(#mvc.url('LC#getSingleObjectDetailsPage').arg(0,token.lemma.id)).build()}"
             th:text="${token.label}"
             th:class="|sentence-token token-${token.type}|"
             th:classappend="${token.rubrum} ? rubrum"/>
        </span>
      </p>
    </div>

    <!-- token hieroglyphs -->
    <th:block th:fragment="token-hieroglyphs">
      <span th:unless="${token.glyphs.empty}" th:utext="${token.glyphs.svg}"
            th:title="${token.glyphs.mdc}" class="token-glyphs"/>
      <th:block th:if="${token.glyphs.empty}">
        <span th:if="${token.type} == 'destruction_marker'" class="philological">
          //...//
        </span>
        <span th:if="${token.type} == 'lc'" class="philological">
          |
        </span>
      </th:block>
    </th:block>

  </body>
</html>