<?xml version="1.0"?>
<html xmlns:th="http://thymeleaf.org">
<head>
 <script th:src="@{/js/tla-functions.js}" src="../static/js/tla-functions.js"></script>
</head>

  <body>

    <!-- Header containing main navigational menu -->

    <header id="header" class="header" th:fragment="header">
      <!-- Navigation -->
      <nav class="navbar navbar-expand-lg navbar-light bg-white fixed-top">
        <div class="container">
          <a class="navbar-brand" href="/">TLA</a>
          <div class="navbar-title">
            <h1 th:text="#{tla_Title}">Thesaurus Linguae Aegyptiae</h1>
            <p>v<span th:text="#{tla_version}">2.0 pre-beta</span></p>
          </div>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"/>
          </button>
          <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item">
                <a class="nav-link" href="/search" th:text="#{menu_global_search}">Search</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" th:text="#{menu_global_tla}">TLA</a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="/info/introduction" th:text="#{editorial_title_info_introduction}">Introduction</a>
                  <a class="dropdown-item" href="/info/project" th:text="#{editorial_title_info_project}">Project</a>
                  <a class="dropdown-item" href="/info/collaboration" th:text="#{editorial_title_info_collaboration}">Collaboration</a>
                  <a class="dropdown-item" href="/info/licenses" th:text="#{editorial_title_info_licenses}">Licenses</a>
                </div>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/info/lemma-lists" th:text="#{editorial_title_info_lemma-lists}">Lemma Lists</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/info/text-corpus" th:text="#{editorial_title_info_text-corpus}">Text Corpus</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown2" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" th:text="#{menu_global_listings}">Listings</a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown2">
                  <a class="dropdown-item" href="/listings/bts-glossings" th:text="#{editorial_title_listings_bts-glossings}">BTS glossing</a>
                  <a class="dropdown-item" href="/listings/ling-glossings" th:text="#{editorial_title_listings_ling-glossings}">Linguistic glossing</a>
                  <a class="dropdown-item" href="/listings/digital-references" th:text="#{editorial_title_listings_digital-references}">Digital references</a>
                  <a class="dropdown-item" href="/listings/bibliography" th:text="#{editorial_title_listings_bibliography}">Abbreviated literature</a>
                </div>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown3" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" th:text="#{menu_global_help}">Help</a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown3">
                  <a class="dropdown-item text-to-be-revised" href="/help/search-page" th:text="#{editorial_title_help_search-page}">Search page</a>
                  <a class="dropdown-item text-to-be-revised" href="/help/lemma-search-results" th:text="#{editorial_title_help_lemma-search-results}">Lemma search results</a>
                  <a class="dropdown-item text-to-be-revised" href="/help/lemma-page" th:text="#{editorial_title_help_lemma-page}">Lemma page</a>
                  <a class="dropdown-item text-to-be-revised" href="/help/sentence-search-results" th:text="#{editorial_title_help_sentence-search-results}">Sentence search results</a>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </header>


    <!-- page footer-->

    <footer class="py-5 bg-light" th:fragment="footer">
      <div class="container">
        <div class="row">
          <div class="col-sm-4 col-lg-6">
            <address>
              <strong>Thesaurus Linguae Aegyptiae</strong>
              <br/>
              Strukturen und Transformationen des Wortschatzes der ägyptischen Sprache
              <br/><br/>
              <a href="/" th:text="${env.baseUrl}">https://tla.bbaw.de</a>
            </address>
          </div>
          <div class="contact col-sm-2 col-lg-2 ">
            <a href="/contact" th:text="#{editorial_title_contact}">Contact</a>
            <br/>
            <a href="/legal/imprint" th:text="#{editorial_title_legal_imprint}">Imprint</a>
            <br/>
            <a href="/legal/privacy" th:text="#{editorial_title_legal_privacy}">Privacy policy</a>
            <br/>
             <span id="cookie-info" th:text="#{editorial_cookie_info_no}">(Cookies not accepted)</span>
          </div>
          <div class="footer-logo col-sm-6 col-lg-4">
            <a href="http://www.saw-leipzig.de" target="_blank">
              <img class="logo-img" src="/img/logo_saw.svg" th:alt="#{logo-alt-saw}"/>
            </a>
            <a class="ml-2" href="http://www.bbaw.de" target="_blank">
              <img class="logo-img" src="/img/logo_bbaw.svg" th:alt="#{logo-alt-bbaw}"/>
            </a>
          </div>
        </div>
        <div class="row mt-2">
          <div class="col-sm-6 col-lg-8">
				<p class="footer-credits" th:utext="#{editorial_footer_credits}"/>
          </div>
          <div class="footer-logo-sm col-sm-6 col-lg-4">
            <a href="https://www.akademienunion.de" target="_blank">
              <img class="logo-img" src="/img/logo_union_der_deutschen_akademien.svg" th:alt="#{logo-alt-union}"/>
            </a>
          </div>
        </div>
      </div>
      <div th:replace="fragments/common :: cookie-banner"/>
    </footer>


    <!-- Citation blocks -->
   
	<div class="bg-light citation mt-2 mb-2" th:fragment="citation-website">
		<p class="h6"><strong>Please cite this website as</strong>:</p>
		<blockquote id="full-citation"><span style="font-style: italic;" th:text="#{tla_Title}"></span> <span th:text="' <' + ${env.baseUrl} +'>, ' + #{citeas_corpus_version} + ' ' + #{tla_corpusversion} + ', ' + #{citeas_tla_version} + ' ' + #{tla_version} + ', ' + #{tla_ReleaseDate} + ', ' + #{citeas_editor} +' ' + #{tla_Editor} + ' ('+ #{citeas_accessed}+ ': '"></span>
			<span id="current-date">xx.xx.20xx</span>)
		</blockquote>
				<script>
					var date = new Date(); date.getUTCDate(); 
					var today= date.getDate() + "." + (date.getMonth()+1) + "." + date.getFullYear(); 
					document.getElementById('current-date').innerHTML =today;
				</script>
		<button type="button" class="btn btn-secondary btn-sm text-left text-decoration-none copy-to-clipboard-btn" onclick="copyStringToClipboard(document.getElementById('full-citation').textContent.replaceAll(/\s+/g,' '))"><span class="fas fa-clipboard"></span>&nbsp;<span th:text="#{citeas_copy_button}">Copy citation</span></button>
	</div>     
	        
    <!-- Cookie alert -->
   
    <div class="cookie-info" th:fragment="cookie-banner">
    <div class="alert alert-dismissible cookiealert" role="alert">
    <div id="cookie-container" class="cookie-container d-none">        
        <div class="cookie-wrapper px-5 py-2">                
            <!-- Content -->
            <div class="row my-4">
                <span class="col-sm-8" th:utext="#{cookie_banner_msg}">This website would like to place ...</span>
                <!-- Buttons -->
                <div class="col-sm-4">
                    <button class="btn btn-secondary float-right m-2 cookie-dismissed" th:text="#{button_label_dismiss}">Dismiss</button>
                    <button id="cok" class="btn btn-danger float-right m-2 cookie-ok" th:text="#{button_label_accept}">Accept</button>    
                </div>
            </div>
        </div>
    </div>
    </div>
   </div>

    <!-- page breadcrumbs -->

    <div id="breadcrumbs" class="row justify-content-center" th:fragment="breadcrumbs">
      <div class="col-12 d-lg-flex">
        <nav aria-label="breadcrumb" class="flex-grow-1">
          <ol class="breadcrumb">
            <li th:each="item : ${breadcrumbs}" class="breadcrumb-item" th:classappend="${itemStat.last} ? 'active' : ''">
              <a th:unless="${item.href} == null" th:href="${item.href}" th:text="#{${item.label}}"></a>
              <span th:unless="${item.href} != null" th:text="#{${item.label}}"></span>
            </li>
          </ol>
        </nav>
        <div class="language breadcrumb">
          <th:block th:each="lang, i : ${env.l10n}">
            <a th:classappend="${env.lang == lang} ? 'active' : ''"
                th:href="${@templateUtils.setQueryParam('lang', lang)}" th:text="${lang}" class="text-uppercase">
              EN
            </a>
            <i th:unless="${i.last}" class="px-1">|</i>
          </th:block>
        </div>
      </div>
    </div>


    <!-- social media stuff for top right header placement -->

    <div id="social" class="button-bar col-md-6 col-lg-6 align-right align-baseline d-none d-lg-block" th:fragment="social(helppage)">
      <div class="functional-icons">
        <a href="#" class="btn btn-red solo-icon" role="button" data-toggle="modal" data-target="#modal_sharing">
          <span class="mr-1" th:text="#{social-button-share}">Share</span>
          <i class="fa fa-share-alt share-results"></i></a>
      </div>
      <div class="functional-icons">
        <a href="#" class="btn btn-red solo-icon" role="button" data-toggle="modal" data-target="#modal_comments">
          <span class="mr-1" th:text="#{social-button-comment}">Comment</span>
          <i class="far fa-comment"></i></a>
      </div>
      <div th:replace=" :: help-button(${helppage})"/>

    <!-- Modal for Comments-->
    <div class="modal fade" id="modal_comments" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle" th:text="#{modal_comment_title}">Comment ...</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
             <input type="hidden" id="pageHREF" name="pageHREF" value="javascript:getCurrentHREF()"/><!--does this work, or do we need a separate script to change the value?-->
             <div class="input-group mb-2">
                <input type="text" class="form-control" th:placeholder="#{modal_comment_name}" aria-label="Username" aria-describedby="basic-addon1">
              </div>
             <div class="input-group mb-2">
                <input type="text" class="form-control" th:placeholder="#{modal_comment_email}" aria-label="Username" aria-describedby="basic-addon1">
              </div>
              
            <div class="input-group">           
              <textarea class="form-control" aria-label="With textarea" th:placeholder="#{modal_comment_content}"></textarea>
            </div>
              
          </div>
            
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal" th:text="#{modal_close}">Close</button>
            <button type="button" class="btn btn-info text-to-be-revised" th:text="#{modal_send}">Send</button>
            <p class="modal-footer-text" th:utext="#{modal_comment_footer}">Thank you ....</p>
          </div>
        </div>
      </div>
    </div>

    <!-- Modal for Sharing-->
    <div class="modal fade" id="modal_sharing" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle" th:text="#{modal_share_title}">Share this page</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
              <div class="btn btn-block btn-info" role="button" onClick="window.location.href='mailto:?subject=TLA,%20page&amp;body='+ encodeURIComponent(getCitation())" data-dismiss="modal"><span class="far fa-envelope"></span> <span th:text="#{modal_share_email}">E-mail citation</span></div> 
              <a href="#" class="btn btn-block btn-info" role="button" onClick="window.open('https://www.facebook.com/share.php?t=TLA,%20page&amp;u='+ encodeURIComponent(getCurrentHREF()))" data-dismiss="modal"><span class="fab fa-facebook"></span> <span th:text="#{modal_share_facebook}">Facebook</span></a>
              <a href="#" title="Twitter" class="btn btn-block btn-info" role="button" onClick="window.open('https://twitter.com/intent/tweet?text=TLA,%20page&amp;url=' + encodeURIComponent(getCurrentHREF()))" data-dismiss="modal"><span class="fab fa-twitter"></span> <span th:text="#{modal_share_twitter}">Twitter URL</span></a>
          </div>
          <div class="modal-footer">
            <p th:utext="#{modal_share_footer}">Note that ... privacy policies.</p>
          </div>
        </div>
      </div>
    </div>
    </div>

    <!-- help icon for top right header placement -->

    <div id="page-help" class="button-bar col-md-6 col-lg-6 align-right align-baseline d-none d-lg-block" th:fragment="page-help(pagename)">
      <div th:replace=" :: help-button(${pagename})"/>
    </div>

      <div id="help-button"class="functional-icons" th:fragment="help-button(pagename)">
        <a class="btn btn-red text-left text-decoration-none solo-icon" role="button" th:href="${'/help/' + pagename}" target="_blank" rel="opener">
          <span class="mr-1 text-to-be-revised" th:text="#{page-help-button}">Page help</span>
          <i class="fas fa-info-circle"></i></a>
      </div>

    <!-- icon indicating review state -->
    <a th:fragment="review-state(obj)" class="review-state" th:title="|Review status: #{|review_state_${obj.reviewState}}|">
      <span class="solo-icon red-status float-right badge badge-pill badge-light">
        <span class="font-weight-light" th:text="#{|review_state_${obj.reviewState}}|">Reviewed</span>
        <span class="icon" th:classappend="${#strings.equals(obj.reviewState, 'published')} ? ok : (${#strings.endsWith(obj.reviewState, 'inactive')} ? notok : pending)"/>
      </span>
    </a>
	
	<!-- icon indicating artificial alignment -->
    <a th:fragment="artificial-alignment" class="review-state" th:title="#{artificially_aligned}">
      <span class="solo-icon red-status float-right badge badge-pill badge-light">
        <span class="font-weight-light" th:text="#{artificially_aligned}">Artificially aligned</span>
        <span class="icon artificiallyaligned"/>
      </span>
    </a>

    <!-- translation for a single language -->
    <span th:fragment="single-lang-translation(entry)">
      <span th:each="tr,iter : ${entry.value}" th:class="|tr-${entry.key}|">
         <span class="lang-icon text-uppercase" th:text="${entry.key}">DE</span>
       </span>        
      <span th:each="translation,iter : ${entry.value}" th:class="|translation-${entry.key}|">
        <span class="translation" th:utext="${{translation}}">
          Translation
        </span>
        <span th:unless="${iter.last}">|</span>
      </span>
    </span>

    <!-- object path (thesaurus, text corpus, sentences) -->
    <div th:fragment="object-paths(objectPaths, collapse)" class="object-paths">
      <div th:each="objectPath, outerIter : ${objectPaths}" class="object-path mt-2">
        <div th:each="item, iter : ${objectPath}" class="object-path-element">
         <th:block th:unless="${item.label == Null}"><th:block th:unless="${#strings.startsWith(item.label,'〈') AND #strings.indexOf(item.label,'〉') == (#strings.length(item.label) - 1)}">
          <span th:class="|object-path-icon ${item.eclass} ${item.type}|"></span>
          <!--<a th:if="${item.href} != null" th:href="${item.href}">  ## landing page not yet implemented-->
            <span th:utext="${{'<label>'+item.label+'</label>'}}">corpus path segment</span>
          <!--</a>-->
        </th:block></th:block>
       </div>
      </div>
    </div>
          <!-- OBEN RAUS GENOMMEN <span th:unless="${item.href} != null">
            <span th:utext="${{item.label}}" th:class="${iter.last} ? lc">
              corpus path segment
            </span>
          </span>-->

    <!-- sentence hieroglyphs -->
    <div th:fragment="sentence-hieroglyphs" class="result-list-item-element hieroglyphs">
      <p class="bbaw-libertine mb-2">
        <span th:each="token : *{tokens}" th:id="|hieroglyphs-${token.id}|">
		    <a  th:if="${token.lemma.id}" th:href="'/lemma/'+${token.lemma.id}"
			       th:class="|sentence-token token-${token.type}|" th:classappend="${(#request.getParameter('tokens[0].lemma.id') != Null AND #request.getParameter('tokens[0].lemma.id') == token.lemma.id) ? 'highlight' : ''}" target="_blank" rel="opener"><th:block th:replace=" :: token-hieroglyphs"/></a>
			 <span th:unless="${token.lemma.id}"><th:block th:replace=" :: token-hieroglyphs"/></span>
		</span>
	   </p>
			<!--<p class="bbaw-libertine mb-2">
			<span th:if="*{getGlyphs}">
				<span th:utext="*{getGlyphs.unicode}"></span>
			</span>
			</p>-->
    </div>

    <!-- sentence transcription -->
    <div th:fragment="sentence-transcription" class="result-list-item-element transcription">
      <p class="bbaw-libertine mb-2">
        <span th:each="token : *{tokens}" th:id="|transliteration-${token.id}|" th:class="${(#request.getParameter('tokens[0].lemma.id') != Null AND #request.getParameter('tokens[0].lemma.id') == token.lemma.id) ? 'highlight' : '' }">
		    <a  th:if="${token.lemma.id}" th:href="'/lemma/'+${token.lemma.id}"
                   th:utext="${token.transcription.unicode}" 
			       th:class="|sentence-token token-${token.type}|" th:classappend="${token.rubrum} ? rubrum" target="_blank" rel="opener"/>
			<th:block th:unless="${token.lemma.id}">
				<span th:if="${token.label}" th:utext="${token.label}" 
						th:class="|sentence-token token-${(token.type == 'lc' OR token.type == 'para' OR token.type == 'destruction_marker' OR token.type == 'verse_point') ? token.type : 'default'}|"></span>
				<span th:unless="${token.label}" th:utext="${token.type}" 
						class="transcription token-default"></span>
			</th:block>
		</span>
      </p>
    </div>

    <!-- token hieroglyphs -->
    <th:block th:fragment="token-hieroglyphs">
		<span th:if="${token.glyphs.svg}" th:utext="${token.glyphs.svg}" th:title="${token.glyphs.mdcCompact}" class="token-glyphs" style="height: 14pt"></span>
		<th:block th:unless="${token.glyphs.svg}">
			<span th:if="${token.type == 'word' OR  token.type == 'lc'}" class="token-glyphs" style="height: 14pt"><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 1 28.0"></svg></span>
			<th:block th:unless="${token.type == 'word' OR token.type == 'lc'}">
				<span th:if="${token.label}" th:utext="${token.label}" class="|sentence-token token-${(token.type == 'lc' OR token.type == 'para' OR token.type == 'destruction_marker' OR token.type == 'verse_point') ? token.type : 'default'}|"></span>
				<span th:unless="${token.label}" th:utext="${token.type}" class="sentence-token token-default"></span>
			</th:block>
		</th:block>
	 </th:block>

    <!-- token transcription -->
    <th:block th:fragment="token-transcription">
		<span  th:if="${token.lemma.id}" th:utext="${token.transcription.unicode}" 
			   th:class="|transcription token-${token.type}|" th:classappend="${token.rubrum} ? rubrum"></span>
		<th:block th:unless="${token.lemma.id}">
			<span th:if="${token.label}" th:utext="${token.label}" 
					th:class="|transcription token-${(token.type == 'lc' OR token.type == 'para' OR token.type == 'destruction_marker' OR token.type == 'verse_point') ? token.type : 'default'}|"></span>
			<span th:unless="${token.label}" th:utext="${token.type}" 
					class="transcription token-default"></span>
		</th:block>
	</th:block>
    
      <!-- token wordclass -->
    <th:block th:fragment="token-word-class">
     <span th:if="${token.getPOS !=null}" th:utext="${token.getPOS}" 
             class="word-class bwc"/>
     <span th:if="${token.getPOS ==null}" th:text="'&nbsp;'"
             class="word-class bwc"/>
    </th:block>
    
    <!-- token lingGloss -->
    <th:block th:fragment="token-ling-glossing">
     <span th:if="${token.flexion.lingGloss !=null}" th:utext="${token.flexion.lingGloss}"
             class="ling-glossing bling"/>
     <span th:if="${token.flexion.lingGloss ==null}" th:text="'&nbsp;'"
             class="ling-glossing bling"/>
    </th:block>
   
     <!-- token btsGloss/tlaGloss -->
    <th:block th:fragment="token-bts-glossing">
     <span th:if="${token.flexion.btsGloss !=null}" th:utext="${token.flexion.btsGloss}"
            class="bts-glossing bgloss"/>
     <span th:if="${token.flexion.btsGloss ==null}" th:text="'&nbsp;'"
            class="bts-glossing bgloss"/>   
    </th:block>
    
       <!-- token translation -->
    <th:block th:fragment="token-translation">
     <span th:if="${token.translations !=null}" th:utext="${{token.translations['de'][0]}}"
             class="token-translation btr"/>
     <span th:if="${token.translations ==null}" th:text="'&nbsp;'"
             class="token-translation btr"/>
    </th:block>
    
        <!-- token word-id -->
    <th:block th:fragment="token-word-id">
     <span th:if="${token.id !=null}" 
             class="word-id bid">
           <button type="button" th:id="'button_' + ${token.id}" class="btn btn-light btn-sm text-left text-decoration-none copy-to-clipboard-btn" th:onClick="" >
                 <span class="fas fa-clipboard"></span><span th:text="#{button_copy_wordtokenID}">Copy token ID</span> 
           </button>  
			  <script th:inline="javascript">
					/*<![CDATA[*/
						var id = /*[[${token.id}]]*/ '0';
						document.getElementById("button_"+id).setAttribute( "onClick", "javascript: copyStringToClipboard(id.substring(7,id.length))");
					/*]]>*/
				</script>  
      </span>  
     <span th:if="${token.id ==null}" th:text="'&nbsp;'" class="word-id"/>
   </th:block>
    
    
    <!-- variants information dating -->
    <div th:fragment="variants-info" class="result-list-item-element variants-list" th:object="${obj}" th:with="vars =${obj.getContext().getVariants()}">
		<th:block th:if="${vars > 1}">
			(<span th:text="#{sentence_variants1}"></span> <strong th:text="${obj.getContext().getVariants()}"></strong> <strong th:text="#{sentence_variants2}"></strong>:
			<th:block th:each="i: ${#numbers.sequence(0, obj.getContext().getVariants() - 1)}"><span th:unless="${i < 1}">, </span><a th:unless="${#strings.substringAfter(obj.id,'-') == #numbers.formatInteger(i,2)}" th:href="${'/sentence/'+#strings.substringBefore(obj.id,'-')+'-0'+i}" th:text="${'#'+ (i +1)}" target="_blank" rel="opener"></a><strong th:if="${#strings.substringAfter(obj.id,'-') == #numbers.formatInteger(i,2)}" th:text="${'#'+ (i +1)}"></strong></th:block>)
		</th:block>
    </div>
    
    <!-- sentence dating -->
    <div th:fragment="sentence-dating" class="result-list-item-element textdate">
        <span th:if="*{getDate}">
		 		<span th:utext="#{sentence_date} + ':' " class="textdate"/>
		 		<th:block th:each="date, dateStat : *{getDate}">
		 		<!--  <a th:href="|${@searchController.getSearchResultsPageRoute(@__thsController__)}?q=${date.id}|">--> 
                    <span th:utext="${{'<label>'+date.named+'</label>'}}"/> <!-- filter cuts out parts in angles ininside <label/>-->
                  <span th:utext="${date.id}" hidden="true"/> 
                 <!--   </a>   -->
                  <span th:unless="${dateStat.last}">&nbsp;&ndash;&nbsp;</span>       
            </th:block>   	  
				 <th:block th:unless="*{getDate.size}">(<em th:text="#{date_not_edited}">no date edited</em>)</th:block>
       </span>
    </div>
    
       <!-- sentence editor -->
    <div th:fragment="sentence-editor" class="result-list-item-element ">
     	 <span th:if="*{getEdited}">
	     	  <span th:utext="#{sentence_main_editor} + ':' " class="texteditors"/>
	     	  <span th:utext="*{getEdited.author}" class="simpleed"/> 
			  <span th:if="*{getEdited.contributors}" class="simpleed">
				  ;
				  <span th:text="#{sentence_contributors} + ': '" class="text-editor"/>
				  <span th:each="contributor, nr : *{getEdited.contributors}" th:utext="${nr.first} ? ${contributor} : ', ' + ${contributor}"/>
			  </span>
			  <!-- fehlt hier: <span th:text="#{|review_state_${obj.reviewState}|}">status</span>-->
			  <span th:utext="' (' + #{sentence_latest_access} + ': ' + *{getEdited.getDateOfLatestUpdate} + ')'" /><!-- formatiert: <span th:text="${#calendars.format(obj.edited.updated, formatter)}">date</span>-->
         </span>
    </div>
   

  </body>
</html>