<?xml version="1.0"?>
<html xmlns:th="http://thymeleaf.org">

<body>

    <!-- Object details page header (incl. social media stuff) -->
    <div th:fragment="details-page-header" class="row mb-3 details-header">
        <div th:replace=" :: review-state-header"/>
        <div th:replace="fragments/common :: social('lemma-page')"/>
   </div>

    <!-- Sentence page header (incl. social media stuff) -->
    <div th:fragment="sentence-page-header" class="row mb-3 details-header">
		<div id="title-header"
				class="col-sm-12 col-md-6 col-lg-6 d-flex justify-content-between align-items-end">
			<h2 class="id mt-1">
			  <span th:text="#{citeas_sentence} + ' ' + ${obj.id}">Sentence ID</span>
			</h2>
		</div>
		<div th:replace="fragments/common :: social('sentence-page')"/>
   </div>

    <!-- Object details header (name && review state) -->
    <div th:fragment="review-state-header" id="review-state-header"
            class="col-sm-12 col-md-6 col-lg-6 d-flex justify-content-between align-items-end">
        <h2 class="id mt-1">
          <span class="bbaw-libertine" th:utext="${(obj.type == 'root') ? '&radic;' : ''} + ${obj.name}">Object name</span><span th:text="'(' + #{citeas_lemma} + ' ' + ${obj.id} + ')'">Object ID</span>
        </h2>
    </div>

    <!-- Generic Passport Properties, notably noun classes -->
    <div th:fragment="object-property-passport-properties" id="passport-properties"
            th:unless="${#maps.isEmpty(passport)}">
        <hr/>
        <p th:each="item : ${passport}">
            <strong th:text="#{|${objectType}_passport_property_${item.key}|}" class="details-property-label">
                Property Label
            </strong>:
            <th:block th:each="value, iter : ${item.value}">
                <span th:text="${value.label}" th:class="${item.key}">
                    Passport Value
                </span>
                <span th:unless="${iter.last}">|</span>
            </th:block>
        </p>
    </div>

    <!-- External references -->
    <div th:fragment="external-references" id="external-references" th:unless="${#maps.isEmpty(obj.externalReferences)}">
        <hr />
        <p>
            <strong th:text="#{object_property_external_references}" class="details-property-label">External
                references</strong>
        </p>
        <div th:each="entry : ${obj.externalReferences}" class="align-items-start" th:id="|external-references-${entry.key}|">
            <span th:text="#{|external_reference_provider_${entry.key}|}" class="external-reference-provider pr-2">Provider</span>
            <span class="external-reference" th:each="ref : ${entry.value}">
                <a th:if="${ref.href} != null" th:href="${ref.href}" target="_blank">
                    <span class="fas fa-arrow-circle-right red"></span>
                    <span th:text="${ref.value}" class="external-reference-id">ext. Identifier</span>
                </a>
                <span th:unless="${ref.href} != null">
                    <span th:text="${ref.value}" class="external-reference-id"></span>
                    <span th:if="${ref.type} != null" th:text="${ref.type}" class="external-reference-type"/>
                </span>
            </span>
        </div>
    </div>

    <!-- translations -->
    <div class="translations" th:fragment="translations" id="translations" th:unless="${#maps.isEmpty(obj.translations)}">
        <hr />
        <p>
            <strong th:text="#{object_property_translation}" class="details-property-label">Translation</strong>
        </p>
        <div th:each="entry : ${obj.translations}" th:insert="fragments/common :: single-lang-translation(${entry})">
        </div>
    </div>

    <!-- bibliography -->
    <div class="bibliography" th:fragment="bibliography" id="bibliography" th:unless="${#lists.isEmpty(obj.bibliography)}">
        <hr/>
        <p>
            <strong th:text="#{object_property_bibliography}" class="details-property-label">Bibliography</strong>
            <br/>
            <span th:each="bib : ${obj.bibliography}">
                <span class="fas fa-arrow-circle-right"></span>
                <span class="bibliographic-reference" th:text="${bib}"></span>
            </span>
        </p>
    </div>

    <!-- Lemma/Thesaurus entry annotations -->
    <div class="comment pb-2" id="single-entry-annotations" th:fragment="single-entry-annotations" th:unless="${#lists.isEmpty(annotations)}">
        <hr/>
        <strong th:text="#{object_property_annotations}" class="details-property-label">Comments</strong>
        <div th:each="annotation, counter : ${annotations}" class="comment-wrapper hide-comment">
            <p th:if="${counter.size} > 1" class="ml-3"><strong th:text="#{object_property_annotation} + ' ' + ${counter.index +1}">Comment 1<strong></p>
            <p class="comment-content text-justify ml-4" th:utext="${annotation.body}">annotation body</p>
            <p class="comment-author pt-1 ml-4" th:with="formatter=#{date_formatter}">
                <span class="details-property-label" th:text="#{object_property_editors_updated}">Latest revision</span>:
                <span th:text="${#calendars.format(annotation.edited.updated, formatter)}">xx.xx.20xx</span>
            </p>
        </div>
			<div class="show-comment-button">
				<button class="btn btn-sm btn-grey">Show Comment</button>
			</div>
			<div class="hide-comment-button mt-2 d-none">
				<button class="btn btn-sm btn-grey">Hide Comment</button>
			</div>
    </div>

    <!-- Editor information -->
    <div class="editor-info" id="editor-info" th:fragment="editor-info">
        <hr/>
        <div class="author">
            <strong class="details-property-label" th:text="#{object_property_editors_author}">Main author</strong>:
            <span th:text="${obj.edited.author}">author</span>
        </div>
        <div th:unless="${obj.edited.contributors} == null" class="editors">
            <strong class="details-property-label" th:text="#{object_property_editors}">Further editor(s)</strong>:
            <span class="editor" th:each="editor : ${obj.edited.contributors}" th:text="${editor}"/>
        </div>
        <div class="updated" th:with="formatter=#{date_formatter}">
            <strong class="details-property-label" th:text="#{object_property_editors_updated}">Latest revision</strong>:
            <span th:text="${#calendars.format(obj.edited.updated, formatter)}">date</span>
        </div>
        <div class="review-state">
            <strong class="details-property-label" th:text="#{object_property_review_state}">Editorial state</strong>:
            <span th:text="#{|review_state_${obj.reviewState}|}">status</span>
        </div>
    </div>

    <!-- Object details type & subtype -->
    <div th:fragment="object-property-type-subtype(objType)" th:id="|${objType}-property-type-subtype|">
        <hr/>
        <p>
            <strong th:text="#{|${objType}_property_type|}" class="details-property-label">Type</strong>:
            <span th:replace=" :: type-subtype"/>
        </p>
    </div>

    <!-- Object details corpus/thesaurus path -->
    <div th:fragment="object-property-object-paths(objType)" th:id="|${objType}-property-object-paths|">
      <hr/>
      <th:block th:with="controller = |${objType}Controller|">
       <th:block th:with="objectPaths = ${@__${controller}__.createObjectPathLinks(obj)}">
        <p>
            <strong th:text="#{|${objType}_property_object_paths|}" class="details-property-label">
                Object path
            </strong>:
            <div th:replace="fragments/common::object-paths(${objectPaths},false)"/>
        </p>
       </th:block>
      </th:block>
    </div>

    <!-- Lemma details hieroglyphs -->
    <div th:fragment="lemma-property-hieroglyphs" id="lemma-property-hieroglyphs" th:if="${obj.glyphs.unicode} != null">
        <p>
            <strong th:text="#{lemma_property_hieroglyphs}" class="details-property-label">Hieroglyphic spelling(s)</strong>:
            <span th:replace=" :: hieroglyphs"/>
        </p>
    </div>

    <!-- Lemma language phase / script / subdict -->
    <div th:fragment="lemma-property-dict" id="lemma-property-dict">
        <hr/>
        <strong th:text="#{lemma_property_dict}" class="details-property-label">Lemma list</strong>:
        <span th:text="#{|dict_${obj.dictionaryName}|}">Hieratic/Demotic/Coptic</span>
    </div>

    <!-- Lemma Attestations -->
    <div th:fragment="lemma-property-attestations" id="lemma-property-attestations">
        <hr/>
        <p>
            <strong th:text="#{lemma_property_attestation}" class="details-property-label">Attestation</strong>
        </p>
		 <p th:if="${obj.attestationCount} > 0">
           <span th:text="${obj.attestationCount}" id="attestationCount" style="visibility:hidden">0</span>
   
            <a th:href="|${@searchController.getSearchResultsPageRoute(@__sentenceController__)}?tokens[0].lemma.id=${obj.id}|">
                <i class="fas fa-arrow-circle-right red"></i>
               <button id="lemma-attestation-count-texts" type="button" class="btn btn-danger text-left text-decoration-none" th:text="#{lemma_property_attestation_occurrences} + ' ' + ${(obj.attestationCount >= 10000) ? '>' : ''} + ${obj.attestationCount} + ' ' + #{|lemma_property_instance${(obj.attestationCount > 1) ? 's' : ''}|}">Occurrences in __ sentences</button>
            </a>
            <br/>
            <th:block th:replace=" :: lemma-timespan"/>
        </p>
		 <p th:unless="${obj.attestationCount} > 0">
            <span th:text="#{lemma_property_no_instances}">No occurrences</span>
        </p>		 
    </div>

    <!-- Lemma Attestations timespan -->
    <span th:fragment="lemma-timespan" th:if="${obj.timespan != null}">
        <strong th:text="#{lemma_property_attestation_timespan}" class="details-property-label">Attestation time</strong>:
        <span th:text="#{object_property_aux_attestation_time_from}">from</span>
        <span th:insert=" :: display-year(${obj.timespan.begin})" id="attestation-timespan-from">
            420 BCE
        </span>
        <span th:text="#{object_property_aux_attestation_time_to}">to</span>
        <span th:insert=" :: display-year(${obj.timespan.end})" id="attestation-timespan-to">
            60 CE
        </span>
    </span>

    <!-- Related Objects -->
    <div th:fragment="object-property-related-objects" id="object-property-related-objects" th:unless="${#maps.isEmpty(relations)}">
        <hr/>
        <strong th:text="#{|${objectType}_property_related_objects|}" class="border-bottom details-property-label">Related lemmata</strong>
        <div class="row py-1 ml-2 mr-2" th:each="predicate : ${relations}">
            <div class="pl-0 col-md-12 border-bottom">
                <span th:text="#{|${objectType}_relation_predicate_${predicate.key}|}" class="details-property-label">Predicate</span>
            </div>
            <div class="col-md-12">
                <div class="result-list-item" th:each="obj : ${predicate.value}" th:object="${obj}" th:id="${obj.id}"
                    th:unless="${obj == null || obj.eclass == 'BTSAnnotation'}"
                    th:include="fragments/search/results :: |${objectType}-search-result|">
                </div>
            </div>
        </div>
    </div>
	
   <div th:fragment="object-property-citationBox" id="object-property-citationBox" class="bg-light citation m-sm-2 m-lg-4"> 
    	<div class="bg-light citation  m-sm-1 m-lg-2"> 
    <p class="h6" ><strong th:text="#{citeas_heading}">Please cite as</strong>:</p>
				<blockquote id="full-citation"><span th:text="${obj.name} + ' (' + #{citeas_lemma} +' '+ ${obj.id} + '), <' + ${env.baseUrl}+'/lemma/' + ${obj.id} +'>, in: '"></span>  
					<span style="font-style: italic;" th:text="#{tla_Title}"></span>  
					<span th:text="' <' + ${env.baseUrl} +'>, ' + #{citeas_corpus_version} + ' ' + #{tla_corpusversion} + ', ' + #{citeas_tla_version} + ' ' + #{tla_version} + ', ' + #{tla_ReleaseDate} + ', ' + #{citeas_editor} +' ' + #{tla_Editor} + ' ('+ #{citeas_accessed} + ': '"></span>
					<span id="current-date">xx.xx.20xx</span>)
				</blockquote>
				<script>
					var date = new Date(); date.getUTCDate(); 
					var today= date.getDate() + "." + (date.getMonth()+1) + "." + date.getFullYear(); 
					document.getElementById('current-date').innerHTML =today;
				</script>
				<button type="button" class="btn btn-secondary btn-sm text-left text-decoration-none copy-to-clipboard-btn" onclick="copyStringToClipboard(document.getElementById('full-citation').textContent.replaceAll(/\s+/g,' '))"><i class="fas fa-clipboard"></i>&nbsp;<span th:text="#{citeas_copy_button}">Copy citation</span></button>
     </div>  
    </div>

   <div th:fragment="sentence-citationBox" id="sentence-citationBox" class="bg-light citation m-sm-2 m-lg-4"> 
    	<div class="bg-light citation m-sm-1 m-lg-2"> 
    <p class="h6" ><strong th:text="#{citeas_heading}">Please cite as</strong>:</p>
				<blockquote id="full-citation"><span th:text="#{citeas_sentence} +' '+ ${obj.id} + ', <' + ${env.baseUrl}+'/sentence/' + ${obj.id} +'>, in: '"></span>  
					<span style="font-style: italic;" th:text="#{tla_Title}"></span>  
					<span th:text="' <' + ${env.baseUrl} +'>, ' + #{citeas_corpus_version} + ' ' + #{tla_corpusversion} + ', ' + #{citeas_tla_version} + ' ' + #{tla_version} + ', ' + #{tla_ReleaseDate} + ', ' + #{citeas_editor} +' ' + #{tla_Editor} + ' ('+ #{citeas_accessed} + ': '"></span>
					<span id="current-date">xx.xx.20xx</span>)
				</blockquote>
				<script>
					var date = new Date(); date.getUTCDate(); 
					var today= date.getDate() + "." + (date.getMonth()+1) + "." + date.getFullYear(); 
					document.getElementById('current-date').innerHTML =today;
				</script>
				<button type="button" class="btn btn-secondary btn-sm text-left text-decoration-none copy-to-clipboard-btn" onclick="copyStringToClipboard(document.getElementById('full-citation').textContent.replaceAll(/\s+/g,' '))"><i class="fas fa-clipboard"></i>&nbsp;<span th:text="#{citeas_copy_button}">Copy citation</span></button>
     </div>  
    </div>

    <!-- Persitent Lemma ID  -->
    <div th:fragment="lemma-property-pid" id="lemma-property-pid">
		<hr/>
		<p>         
		  <strong>Persistent lemma ID:</strong>
		  <span th:text="${obj.id}" id="id">Lemma ID</span>
		  <script> 
		  </script>
		  <button type="button" class="btn btn-light btn-sm text-left text-decoration-none copy-to-clipboard-btn" th:onclick="copyStringToClipboard(document.getElementById('id').textContent)" ><span class="fas fa-clipboard"></span>&nbsp;<span th:text="#{button_copy_ID}">Copy ID</span></button>
		  <br/>
		  <strong>Persistent URL:</strong>
		  <!-- Zitationsbutton -->
		  <span th:text="|${env.baseUrl}/lemma/${obj.id}|" id="page-url">https://tla.bbaw.de/lemma/___</span>
		  <button type="button" class="btn btn-light btn-sm text-left text-decoration-none copy-to-clipboard-btn" onclick="copyStringToClipboard(document.getElementById('page-url').textContent)"><span class="fas fa-clipboard"></span>&nbsp;<span th:text="#{button_copy_URL}">Copy URL</span></button>
		  <button type="button" class="btn btn-light btn-sm text-left text-decoration-none copy-to-clipboard-btn" onclick="copyStringToClipboard(document.getElementById('full-citation').textContent.replaceAll(/\s+/g,' '))"><span class="fas fa-clipboard"></span>&nbsp;<span th:text="#{citeas_copy_button}">Copy citation</span></button><!-- take content of element "full-citation" from the page footer-->
		</p>
	  </div>

    <!-- "Atoms" -->

    <!-- POS/type -->
    <span th:fragment="type-subtype" name="type-subtype" class="type-subtype" th:classappend="${objectType}">
        <th:block th:with="key=|${objectType}_fulltype_${obj.type}_${obj.subtype}|">
            <th:block th:with="label=${#messages.msgOrNull(key)}">
                <span th:if="${label} != null" th:text="${label}">Type/subtype</span>
                <th:block th:unless="${label} != null">
                    <span th:text="#{|${objectType}_type_${obj.type}|}">Type</span>
                    <span th:if="${obj.subtype}">
                        (<span th:text="#{|${objectType}_subtype_${obj.subtype}|}">Subtype</span>)
                    </span>
                </th:block>
            </th:block>
        </th:block>
    </span>

    <!-- hieroglyphs in Lemma Detail-->
    <th:block th:fragment="hieroglyphs" th:if="${obj.glyphs.svg != null}">
       
            <span class="hieroglyphs" th:title="${obj.glyphs.mdcCompact}" th:utext="${obj.glyphs.svg}" style="height: 14pt"/>
        </span>
    </th:block>
     <!-- hieroglyphs in Such-Ergebniss-->
     <th:block th:fragment="hieroglyphsSuche" th:if="${obj.glyphs.unicode != null}">
            <span class="unicode-hieroglyphs" th:title="${obj.glyphs.mdcCompact}" th:utext="${{obj.glyphs.unicode}}" style="height: 14pt"/>
        </span>
    </th:block>

    <!-- display a single year -->
    <th:block th:fragment="display-year(year)">
        <span th:text="${(year < 1) ? T(Math).abs(year) : year}">3500</span>
        <span th:text="#{|object_property_aux_attestation_time_${(year < 1) ? 'bce' : 'ce'}|}">BCE</span>
    </th:block>


</body>

</html>
