<?xml version="1.0"?>
<html xmlns:th="http://thymeleaf.org">

<body>

    <!-- Token in Sentence page header (incl. social media stuff) -->
    <div th:fragment="sentence-token-page-header" class="row mb-sm-3 d-flex justify-content-between details-header">
		<div id="title-header">
			<h2 class="id ml-3 mt-sm-1">
			  <span class="words-breakable" th:text="#{object_id_label_BTSToken} + ' ' + ${searchTokenId}">Token ID</span>
			</h2>
		</div>
		<div th:replace="fragments/common :: social('sentence-page')"/>
   </div>

    <!-- Sentence page header (incl. social media stuff) -->
    
    <div th:fragment="sentence-page-header" class="row mb-sm-3 d-flex justify-content-between details-header">
		<div id="title-header">
			<h2 class="id ml-3 mt-sm-1" th:with="isVariant=${#strings.contains(obj.id,'-')}, stableId=${isVariant ? #strings.substringBefore(obj.id,'-') : obj.id}, varNo=${isVariant ? #strings.substringAfter(obj.id,'-') : ''}">
			  <span class="words-breakable" th:text="#{object_id_label_BTSSentence} + ' ' + ${stableId}">Sentence ID</span><span th:if="${isVariant}">(Var. 
          <script th:inline="javascript">
                  var  varID = /*[[${#strings.substringAfter(obj.id,'-')}]]*/ '00';
                  document.write(parseInt(varID, 16)+1);
            </script>)</span>
			</h2>
		</div>
		<div th:replace="fragments/common :: social('sentence-page')"/>
   </div>

    <!-- Object details page header (incl. social media stuff) -->
    
    <div th:fragment="details-page-header" class="row mb-sm-3 d-flex justify-content-between details-header">
        <div th:replace=" :: review-state-header"/>
        <div th:replace="fragments/common :: social('lemma-page')"/>
   </div>

    <!-- Object details page header (incl. social media stuff), shortened -->
    
    <div th:fragment="details-page-header-short" class="row d-flex justify-content-between mb-sm-3 details-header">
        <div th:replace=" :: review-state-header-short"/>
        <div th:replace="fragments/common :: social('ths-page')"/>
   </div>

    <!-- Object details header (name && review state) -->
    
    <div th:fragment="review-state-header" id="review-state-header">
        <h2 class="id ml-3 mt-sm-1">
           <span class="bbaw-libertine" th:utext="${(obj.type == 'root') ? '&radic;' : ''} + ${{'<label>'+obj.name+'</label>'}}">Object name</span><span class="words-breakable" th:utext="'(' + #{|object_id_label_${obj.eclass}|} +' ' + ${obj.id} +')'">Object ID</span>
        </h2>
    </div>

    <!-- Object details header (name && review state), shortened (<...>) -->
    
    <div th:fragment="review-state-header-short" id="review-state-header-short">
        <h2 class="id ml-3 mt-sm-1">
           <span class="bbaw-libertine" th:utext="${(obj.type == 'root') ? '&radic;' : ''} + ${{'<shortlabel>'+obj.name+'</shortlabel>'}}">Object name</span><span class="words-breakable" th:utext="'(' + #{|object_id_label_${obj.eclass}|} +' ' + ${obj.id} +')'">Object ID</span>
        </h2>
    </div>

    <!-- Generic Passport Properties, notably noun classes -->
    
    <div th:fragment="object-property-passport-properties" id="passport-properties"
            th:unless="${#maps.isEmpty(passport)}">
        <hr/>
        <p th:each="item : ${passport}">
            <strong th:text="#{|${objectType}_passport_property_${item.key}|}" class="details-property-label">
                Property Label
            </strong>:
            <th:block th:each="value, iter : ${item.value}">
                <span th:text="${value.label}" th:class="${item.key}">
                    Passport Value
                </span>
                <span th:unless="${iter.last}">|</span>
            </th:block>
        </p>
    </div>

    <!-- External references -->
    
    <div th:fragment="external-references" id="external-references" th:unless="${#maps.isEmpty(obj.externalReferences)}">
        <hr />
        <p>
            <strong th:text="#{object_property_external_references}" class="details-property-label">External
                references</strong>
        </p>
        <div th:each="entry : ${obj.externalReferences}" class="align-items-start" th:id="|external-references-${entry.key}|">
            <span th:text="#{|external_reference_provider_${entry.key}|}" class="external-reference-provider pr-2">Provider</span>
            <span class="external-reference" th:each="ref : ${entry.value}">
                <!--<p th:text="${ref}"/>-->
                <a th:if="${ref.href} != null" th:href="${ref.href}" target="_blank">
                    <i class="fas fa-arrow-circle-right"></i>
                    <span th:text="${ref.value}" class="external-reference-id">ext. Identifier</span>
                </a>
                <span th:unless="${ref.href} != null">
                    <span th:text="${ref.value}" class="external-reference-id"></span>
                    <span th:if="${ref.type} != null" th:text="${ref.type}" class="external-reference-type"/>
                </span>
            </span>
        </div>
    </div>

    <!-- translations -->
    
    <div class="translations" th:fragment="translations" id="translations" th:unless="${#maps.isEmpty(obj.translations)}">
        <hr />
        <p>
            <strong th:text="#{object_property_translation}" class="details-property-label">Translation</strong>
        </p>
        <div th:each="entry : ${obj.translations}" th:insert="fragments/common :: single-lang-translation(${entry})">
        </div>
    </div>

    <!-- bibliography -->
    
    <div class="bibliography" th:fragment="bibliography" id="bibliography" th:unless="${#lists.isEmpty(obj.bibliography)}">
        <hr/>
        <p>
            <strong th:text="#{object_property_bibliography}" class="details-property-label">Bibliography</strong>
            <br/>
            <ul class="no-bullet-list">
            <li th:each="bib, iStat : ${obj.bibliography}">
                <!--<span class="fas fa-arrow-circle-right"></span>-->
                <span class="bibliographic-reference" th:utext="${{bib}}"></span>
                <br th:unless="${iStat.last}"/>
            </li>
            </ul>
        </p>
    </div>
    
    <!-- Script -->
    
    <div class="textscript" th:fragment="textscript" id="textscript" th:unless="${#lists.isEmpty(obj.skript)}">
    <hr/>
        <p>
            <strong th:text="#{object_property_script}" class="details-property-label">Skript</strong>:
            <i class="fas fa-tag"></i> <a th:href="${'/thesaurus/'+obj.getSkript.id}"  th:text="${obj.getSkript.name}"></a>
        </p>
    </div>
    
    <!-- Comment on Script -->
    
        <div class="textscript-comment" th:fragment="textscript-comment" id="textscript-comment" th:unless="${#lists.isEmpty(obj.Commentscript)}">
        <hr th:if="${#lists.isEmpty(obj.skript)}"/>   
            <p>
            <strong th:text="#{object_property_commentscript}" class="details-property-label">Comment on script</strong>:
            <br/>
               <span th:utext="${obj.getCommentscript}"></span>
        </p>
      </div> 
       
    <!-- Language -->    
    
    <div class="language" th:fragment="language" id="language" th:unless="${#lists.isEmpty(obj.language)}">
        <hr>
        <p>
            <strong th:text="#{object_property_language}" class="details-property-label">Language</strong>:
            <i class="fas fa-tag"></i> <a th:href="${'/thesaurus/'+obj.getLanguage.id}"  th:text="${obj.getLanguage.name}"></a>
        </p>
    </div>
    
    <!-- Comment on Language -->
       
        <div class="language-comment" th:fragment="language-comment" id="language-coomment" th:unless="${#lists.isEmpty(obj.Commentlanguage)}"> 
          <hr th:if="${#lists.isEmpty(obj.language)}"/> 
            <p>
            <strong th:text="#{object_property_commentlanguage}" class="details-property-label">Comment on language</strong>:
            <br/>
               <span th:utext="${obj.getCommentlanguage}"></span>
        </p>
      </div> 
     
    <!-- Texttype -->
    
    <div class="texttype" th:fragment="texttype" id="texttype" th:unless="${#lists.isEmpty(obj.texttype)}">
       <hr>
        <p>
            <strong th:text="#{object_property_texttype}" class="details-property-label">Texttype</strong>:
            <i class="fas fa-tag"></i> <a th:href="${'/thesaurus/'+obj.getTexttype.id}"  th:text="${obj.getTexttype.name}"></a>
        </p>
    </div>

         
    <!-- Comment on Texttype -->
                    
        <div class="texttype-comment" th:fragment="texttype-comment" id="texttype-coomment" th:unless="${#lists.isEmpty(obj.Commenttexttype)}">  
          <hr th:if="${#lists.isEmpty(obj.texttype)}"/> 
            <p>
            <strong th:text="#{object_property_commenttexttype}" class="details-property-label">Comment on texttype</strong>:
            <br/>
               <span th:utext="${obj.getCommenttexttype}"></span>
        </p>
      </div> 
      
       <!-- Is secondary Inscription -->
       <div class="is-secondary-inscription" th:fragment="is-secondary-inscription" id="is-secondary-inscription" th:unless="${#lists.isEmpty(obj.Secinscription)}">   
          <hr/>
           <p>
            <strong th:text="#{object_property_is_secinscription}" class="details-property-label">Is a secondary Inscription</strong>
        </p>
         </th:block>
       </div>
         
    
    <!-- Object type -->
    
    <div class="object-type" th:fragment="object-type" id="object-type" th:if="${obj.objType}">
        <hr/>
        <p>
            <strong th:text="#{object_property_objecttype}" class="details-property-label">Object type</strong>:
            <i class="fas fa-tag"></i> <a th:href="${'/thesaurus/'+obj.objType.getId()}"  th:text="${obj.objType.getName()}"></a>
        </p>
    </div>
 
    <!-- Object components -->
    
    <div class="object-components" th:fragment="object-components" id="object-components" th:unless="${#lists.isEmpty(obj.components)}">
        <hr  th:if="${#lists.isEmpty(obj.objType)}"/>
        <p>
            <strong th:text="#{object_property_components}" class="details-property-label">Components</strong>:
            <span th:each="elem, elemStat : ${obj.components}">
                <i class="fas fa-tag"></i> <a th:href="${'/thesaurus/'+elem.getId()}"  th:text="${elem.getName()}"></a><th:block th:unless="${elemStat.last}">, </th:block>
            </span>
        </p>
    </div>

    <!-- Special object types -->
    
    <div class="special-object-types" th:fragment="special-object-types" id="special-object-types">
        <p>
					<th:block th:if="${obj.isModel}">
                  <br/><strong  th:text="#{object_property_is_model}" class="details-property-label"></strong>:
                  <th:block th:if="${#bools.isTrue(obj.isModel)}">
                        <span  th:text="#{object_property_yes}"></span>
                  </th:block>
                  <th:block th:unless="${#bools.isTrue(obj.isModel)}">
                        <span  th:text="#{object_property_no}"></span>
                  </th:block>
					</th:block>
					
					<th:block th:if="${obj.isImitation}">
                  <br/><strong  th:utext="#{object_property_is_imitation}" class="details-property-label"></strong>:
                  <th:block th:if="${#bools.isTrue(obj.isImitation)}">
                        <span  th:text="#{object_property_yes}"></span>
                  </th:block>
                  <th:block th:unless="${#bools.isTrue(obj.isImitation)}">
                        <span  th:text="#{object_property_no}"></span>
                  </th:block>     
					</th:block>
					
					<th:block th:if="${obj.isMiniature}">
                  <br/><strong  th:utext="#{object_property_is_miniature}" class="details-property-label"></strong>:
                  <th:block th:if="${#bools.isTrue(obj.isMiniature)}">
                        <span  th:text="#{object_property_yes}"></span>
                  </th:block>
                  <th:block th:unless="${#bools.isTrue(obj.isMiniature)}">
                        <span  th:text="#{object_property_no}"></span>
                  </th:block>     
					</th:block>					
					<th:block th:if="${obj.isSkeuomorph}">
                  <br/><strong  th:utext="#{object_property_is_skeuomorph}" class="details-property-label"></strong>:
                  <th:block th:if="${#bools.isTrue(obj.isSkeuomorph)}">
                        <span  th:text="#{object_property_yes}"></span>
                  </th:block>
                  <th:block th:unless="${#bools.isTrue(obj.isSkeuomorph)}">
                        <span  th:text="#{object_property_no}"></span>
                  </th:block>     
					</th:block>
        </p>
    </div>

    <!-- Find Spot -->
    
    <div class="find-spot" th:fragment="find-spot" id="find-spot" th:unless="${#lists.isEmpty(obj.FindSpots)}">
        <hr/>
        <p>           
              <ul class="no-bullet-list">
            <li th:each="findspot, findspotStat : ${obj.FindSpots}">
            <!-- Places -->
            <p>
              <strong th:text="#{object_property_origplace}" class="details-property-label" th:unless="${#lists.isEmpty(findspot.getPlaces)}">Find Spot</strong>
               
               <ul class="no-bullet-list">
               <li th:each="place, placeStat : ${findspot.getPlaces}">
               <p>
                 <i class="fas fa-tag"></i>
                 <a th:href="${'/thesaurus/'+place.getPlace().getId()}"  th:text="${place.getPlace().getName()}"></a>
               <th:block th:unless="${place.getCertainty}==null"> 
                  <br/><strong  th:text="#{object_property_certainty}" class="details-property-label"></strong>:
                     <span  th:text="${place.getCertainty}"></span>
               </th:block>
               <th:block th:if="${place.getIsorigin}">
                  <br/><strong  th:text="#{object_property_isorigplace}" class="details-property-label"></strong>:
                  <th:block th:if="${#bools.isTrue(place.getIsorigin)}">
                        <span  th:text="#{object_property_yes}"></span>
                  </th:block>
                  <th:block th:unless="${#bools.isTrue(place.getIsorigin)}">
                        <span  th:text="#{object_property_no}"></span>
                  </th:block>
               </th:block>
                  <th:block th:unless="${place.getComment}==null"> 
                  <br/><strong  th:text="#{object_property_place_comment}" class="details-property-label"></strong>:
                     <span  th:text="${place.getComment}"></span>
               </th:block>
               </p>
               </li>
                </ul>	
                
                    <!-- Former Places -->
               <strong th:text="#{object_property_formerplace}" class="details-property-label" th:unless="${#lists.isEmpty(findspot.getFormerPlaces)}">Former Places</strong>           
               <ul class="no-bullet-list">
               <li th:each="place, placeStat : ${findspot.getFormerPlaces}">
               <p>
                  <th:block th:unless="${place.getPlace()}==null"> 
                     <i class="fas fa-tag"></i>
                     <a th:href="${'/thesaurus/'+place.getPlace().getId()}"  th:text="${place.getPlace().getName()}"></a>   
                  </th:block>
                  <th:block th:unless="${place.getCertainty}==null"> 
                     <br/><strong  th:text="#{object_property_certainty}" class="details-property-label"></strong>:
                        <span  th:text="${place.getCertainty}"></span>
                  </th:block>
                  <th:block th:if="${place.getIsorigin}">
                     <br/><strong  th:text="#{object_property_isorigplace}" class="details-property-label"></strong>:
                     <th:block th:if="${#bools.isTrue(place.getIsorigin)}">
                           <span  th:text="#{object_property_yes}"></span>
                     </th:block>
                     <th:block th:unless="${#bools.isTrue(place.getIsorigin)}">
                           <span  th:text="#{object_property_no}"></span>
                     </th:block>
                  </th:block>
                     <th:block th:unless="${place.getComment}==null"> 
                     <br/><strong  th:text="#{object_property_place_comment}" class="details-property-label"></strong>:
                        <span  th:text="${place.getComment}"></span>
                  </th:block>            
               </p>
               </li>
                </ul>
               </p>
              </li>
             </ul>		
        </p>
    </div>
    
    <!-- to be discussed what this info means (label)

                <span th:if="${obj.isorig !=null}" class="details-property-label" th:text="'('+#{object_property_isorigplace}+')'">
                 is original place
                </span>
                -->
                
    <!-- Object grouping -->
    
    <div class="object-grouping" th:fragment="object-grouping" id="object-grouping" th:if="${obj.grouping}">
        <hr/>
        <p>
            <strong th:text="#{object_property_grouping}" class="details-property-label">Object grouping</strong>:
            <i class="fas fa-tag"></i> <a th:href="${'/thesaurus/'+obj.grouping.getId()}"  th:text="${obj.grouping.getName()}"></a>
        </p>
    </div>    
    
    <!-- Present location -->
    
    <div class="present-location" th:fragment="present-location" id="present-location" th:unless="${#lists.isEmpty(obj.locations)}">
        <hr/>
        <p>
         <strong th:text="#{object_property_presentlocation}" class="details-property-label">Present Location</strong>
             <ul class="no-bullet-list">
             <li th:each="location, elemStat : ${obj.getLocations}">
              <p>
               <th:block th:unless="${location.getLocation()}==null">
                  <i class="fas fa-tag"></i>
                  <a th:href="${'/thesaurus/'+location.getLocation().getId()}"  th:text="${location.getLocation().getName()}"></a>
               </th:block>
               <th:block th:unless="${location.getInventory_number}==null"> 
                  <br/><strong  th:text="#{object_property_inv_no}" class="details-property-label"></strong>:
                  <span th:each="idno, idnoStat : ${location.getInventory_number}">
                      <i class="fas fa-folder"></i>
                      <span  th:text="${idno}"></span>
                      <span th:unless="${idnoStat.last}">, </span>
                  </span>
				   </th:block>
					<th:block th:if="${location.getIs_present_location}">
                  <br/><strong  th:text="#{object_property_ispresentlocation}" class="details-property-label"></strong>:
                  <th:block th:if="${#bools.isTrue(location.getIs_present_location)}">
                        <span  th:text="#{object_property_yes}"></span>
                  </th:block>
                  <th:block th:unless="${#bools.isTrue(location.getIs_present_location)}">
                        <span  th:text="#{object_property_no}"></span>
                  </th:block>
					</th:block>
					
					<th:block th:if="${location.getIn_situ}">
                  <br/><strong  th:utext="#{object_property_in_situ}" class="details-property-label"></strong>:
                  <th:block th:if="${#bools.isTrue(location.getIn_situ)}">
                        <span  th:text="#{object_property_yes}"></span>
                  </th:block>
                  <th:block th:unless="${#bools.isTrue(location.getIn_situ)}">
                        <span  th:text="#{object_property_no}"></span>
                  </th:block>     
					</th:block>
               
             	<th:block th:unless="${location.getComment}==null"> 
	            <br/><strong  th:text="#{object_property_place_comment}" class="details-property-label"></strong>:
						<br/><span  th:text="${location.getComment}"></span>
				    </th:block>
             </p>
            </li>
            </ul>
        </p>
    </div>
    
    <!-- Materials -->
    
    <div class="materials" th:fragment="materials" id="materials" th:unless="${#lists.isEmpty(obj.materials)}">
        <hr/>
        <p>
            <strong th:text="#{object_property_materials}" class="details-property-label">Materials</strong>:
            <span th:each="elem, elemStat : ${obj.materials}">
                <i class="fas fa-tag"></i> <a th:href="${'/thesaurus/'+elem.getId()}"  th:text="${elem.getName()}"></a><th:block th:unless="${elemStat.last}">, </th:block>
            </span>
        </p>
    </div>

    <!-- Object technique -->
    
    <div class="object-technique" th:fragment="object-technique" id="object-technique" th:unless="${#lists.isEmpty(obj.technique)}">
        <hr/>
        <p>
            <strong th:text="#{object_property_technique}" class="details-property-label">Techniques</strong>:
            <span th:each="elem, elemStat : ${obj.technique}">
                <i class="fas fa-tag"></i> <a th:href="${'/thesaurus/'+elem.getId()}"  th:text="${elem.getName()}"></a><th:block th:unless="${elemStat.last}">, </th:block>
            </span>
        </p>
    </div>
    
    <!-- Dimensions -->
    
    <div class="dimensions" th:fragment="dimensions" id="dimensions" th:unless="${#lists.isEmpty(obj.dimensions)}">
        <hr th:if="${#lists.isEmpty(obj.materials)}"/>
        <p>
            <strong th:text="#{object_property_dimensions}" class="details-property-label">Dimensions</strong>:
            <span th:each="elem, elemStat : ${obj.dimensions}">
                <span th:text="${elem}"></span><th:block th:unless="${elemStat.last}"> &times; </th:block>
            </span> cm
        </p>
    </div>
    
    <!-- Condition -->
    
    <div class="object-condition" th:fragment="object-condition" id="object-condition" th:if="${obj.condition}">
        <hr/>
        <p>
            <strong th:text="#{object_property_condition}" class="details-property-label">Condition</strong>:
            <i class="fas fa-tag"></i> <a th:href="${'/thesaurus/'+obj.condition.getId()}"  th:text="${obj.condition.getName()}"></a>
        </p>
    </div>
    
    <!-- Materiality comment -->
    
    <div class="materiality-comment" th:fragment="materiality-comment" id="materiality-comment" th:unless="${#lists.isEmpty(obj.materialityComment)}">
        <p>
            <strong th:text="#{object_property_materiality_comment}" class="details-property-label">Materiality comment</strong>
            <br/>
            <ul class="no-bullet-list">
            <li th:each="elem, elemStat : ${obj.materialityComment}">
                <span th:text="${elem}"></span>
                <br th:unless="${elemStat.last}"/>
            </li>
            </ul>
        </p>
    </div>    
    
    <!-- Owner -->
    
    <div class="object-owner" th:fragment="object-owner" id="object-owner" th:if="${obj.owner}">
        <hr/>
        <p>
            <strong th:text="#{object_property_owner}" class="details-property-label">Owner</strong>:
            <i class="fas fa-tag"></i> <a th:href="${'/thesaurus/'+obj.owner.getId()}"  th:text="${obj.owner.getName()}"></a>
        </p>
    </div>

    <!-- Object context -->
    
    <div class="object-context" th:fragment="object-context" id="object-context" th:unless="${#lists.isEmpty(obj.culturalContext)}">
        <hr/>
        <p>
            <strong th:text="#{object_property_context}" class="details-property-label">Cultural context</strong>:
            <span th:each="elem, elemStat : ${obj.culturalContext}">
                <i class="fas fa-tag"></i> <a th:href="${'/thesaurus/'+elem.getId()}"  th:text="${elem.getName()}"></a><th:block th:unless="${elemStat.last}">, </th:block>
            </span>
        </p>
    </div>

    <!-- Cultural context comment -->
    
    <div class="context-comment" th:fragment="context-comment" id="context-comment" th:unless="${#lists.isEmpty(obj.contextComment)}">
        <hr/>
        <p>
            <strong th:text="#{object_property_context_comment}" class="details-property-label">Cultural comment</strong>
            <br/>
            <ul class="no-bullet-list">
            <li th:each="elem, elemStat : ${obj.contextComment}">
                <span th:utext="${elem}"></span>
                <br th:unless="${elemStat.last}"/>
            </li>
            </ul>
        </p>
    </div>
    
    <!-- Protocol -->
    
    <div class="protocol" th:fragment="protocol" id="protocol" th:unless="${#lists.isEmpty(obj.protocol)}">
        <hr/>
        <p>
            <strong th:text="#{object_property_protocol}" class="details-property-label">Protocol</strong>
            <br/>
            <ul class="no-bullet-list">
            <li th:each="elem, elemStat : ${obj.protocol}">
                <!--<span class="fas fa-arrow-circle-right"></span>-->
                <span th:utext="${elem}"></span>
                <br th:unless="${elemStat.last}"/>
            </li>
            </ul>
        </p>
    </div>
    
    <!-- File description  -->
    <!-- TODO obj.getDescription. zu einem Datum hinzuweisen um mehrfach Aufrufe zu vermeiden -->
    <div class="file-description" th:fragment="file-description" id="file-description" th:unless="${#lists.isEmpty(obj.getDescription)}">
					<th:block th:if="${obj.getDescription.getReconstructed}">
           <hr/>
           <p>
				<strong  th:text="#{object_property_reconstructed}" class="details-property-label"></strong>:
							<span  th:text="#{object_property_yes}"></span>
             </p>
					</th:block>
            <th:block th:unless="${obj.getDescription.getDefinition}==null"> 
           <hr/>
           <p>
	            <br/><strong  th:text="#{object_property_description}" class="details-property-label"></strong>
					 <br/><span  th:text="${obj.getDescription.getDefinition}"></span>
        </p>
 				</th:block>
   </div>
   
    
    <!-- File comment -->
    
    <div class="file-comment" th:fragment="file-comment" id="file-comment" th:unless="${#lists.isEmpty(obj.fileComment)}">
        <hr/>
        <p>
            <strong th:text="#{object_property_file_comment}" class="details-property-label">File comment</strong>
            <br/>
            <ul class="no-bullet-list">
            <li th:each="elem, elemStat : ${obj.fileComment}">
                <span th:utext="${elem}"></span>
                <br th:unless="${elemStat.last}"/>
            </li>
            </ul>
        </p>
    </div>
    
    <!-- Synonyms -->
    <div class="synonyms" th:fragment="synonyms" id="synonyms" th:unless="${#lists.isEmpty(obj.getSynonymGroups)}">
        <hr/>
        <p>
            <strong th:text="#{object_property_synonyms}" class="details-property-label">Synonyms</strong>
             <ul class="no-bullet-list">
             <li th:each="synonymGroup, elemStat : ${obj.getSynonymGroups}">
                <span class="lang-icon text-uppercase" th:text="${synonymGroup.getLanguage}">DE</span>
                <span th:text="${synonymGroup.getSynonym}"></span>
                <br th:unless="${elemStat.last}">
            </li>
            </ul>
        </p>
    </div>
    
    <!-- Date  -->
    
    <div class="date" th:fragment="date" id="date" th:unless="${#lists.isEmpty(obj.date)}">
        <hr/>
        <p>
            <strong th:text="#{object_property_date}" class="details-property-label">Date</strong>:
            <i class="fas fa-tag"></i> 
            <span th:each="date, dateStat : ${obj.date}">
            	  <a th:href="${'/thesaurus/'+date.getId()}"  th:text="${{'<shortlabel>'+date.getName()+'</shortlabel>'}}"></a> <!-- filter cuts out parts in angles ininside <label/>-->
            <span th:unless="${dateStat.last}">&nbsp;&ndash;&nbsp;</span>
            </span>
        </p>
    </div>

    
    <!-- Dating comment -->
    
    <div class="date-comment" th:fragment="date-comment" id="date-comment" th:unless="${#lists.isEmpty(obj.dateComment)}">
        <hr th:if="${#lists.isEmpty(obj.date)}"/>
        <p>
            <strong th:text="#{object_property_date_comment}" class="details-property-label">Date comment</strong>:
            <br/>
            <ul class="no-bullet-list">
            <li th:each="elem, elemStat : ${obj.dateComment}">
                <span th:utext="${elem}"></span>
                <br th:unless="${elemStat.last}"/>
            </li>
            </ul>
        </p>
    </div>
    
    <!-- Text content button  -->
    
    <div class="text-content-button" th:fragment="text-content-button" id="text-content-button">
        <hr/>
        <p>
         <a th:href="${(#mvc.url('TOC#getSingleObjectDetailsPage').arg(0,obj.id)).build()+'/sentences'}">
           <button id="text-content-button" type="button" class="btn btn-danger text-left text-decoration-none ">
              <span class="fas fa-arrow-circle-right"></span>&nbsp;
              <span th:text="#{button_text_content}">Sentences in the text</span>
           </button>
           </a>
        </p>
    </div>
    

    <!-- Lemma/Thesaurus entry annotations -->
    
    <div class="comment pb-2" id="single-entry-annotations" th:fragment="single-entry-annotations" th:unless="${#lists.isEmpty(annotations)}">
        <hr/>
        <strong th:text="#{object_property_annotations}" class="details-property-label">Comments</strong>
        <div th:each="annotation, counter : ${annotations}" class="comment-wrapper hide-comment" th:object="${annotation}">
            <p th:if="${counter.size} > 1" class="ml-3"><strong th:text="#{object_property_annotation} + ' ' + ${counter.index +1}">Comment 1<strong></p>
            <p class="comment-content text-justify ml-4" th:utext="${annotation.body}">annotation body</p>
            <p th:replace=" :: comment-authorship"/>
        </div>
			<div class="show-comment-button">
				<button class="btn btn-sm btn-grey">Show Comment</button>
			</div>
			<div class="hide-comment-button mt-sm-2 d-none">
				<button class="btn btn-sm btn-grey">Hide Comment</button>
			</div>
    </div>

   <!-- Comment authorship info -->
   
   <p class="comment-author pt-1 ml-4" id="comment-authorship" th:fragment="comment-authorship" th:with="formatter=#{date_formatter},edited=*{edited}">
       <!-- authors in Leipzig always Strukturen und Transformationen ... -->
       <th:block th:unless="${edited.author} == '  Strukturen und Transformationen'">
          <span class="details-property-label" th:text="#{object_property_editors_author_commentary}">Commentary author</span>:
          <span th:text="${edited.author}">author</span>, 
       </th:block>
       <span class="details-property-label" th:text="#{object_property_editors_created}">File created</span>:
       <span th:text="${edited.wasCreatedBeforeBTS3()} ? #{created_before_BTS3} : ${#calendars.format(edited.created, formatter)}">xx.xx.20xx</span>,
       <span class="details-property-label" th:text="#{object_property_editors_updated}">latest revision</span>:
       <span th:text="${#calendars.format(edited.updated, formatter)}">xx.xx.20xx</span>
   </p>

    <!-- Editor information -->
    <div class="editor-info" id="editor-info" th:fragment="editor-info">
        <hr/> 
        <th:block th:if="${obj.edited != null}">
          <div class="author">
            <strong class="details-property-label" th:text="${((obj.eclass == 'BTSThsEntry' or obj.eclass == 'BTSLemmaEntry') and obj.type != 'root')} ? #{object_property_editors_editor} : #{object_property_editors_author}">Author</strong>:
            <span th:text="${obj.edited.author}">author</span><span th:unless="${obj.edited.contributors} == null" class="editors">;
               <span class="details-property-label" th:text="#{object_property_editors}">with contributions by</span>:
               <span th:each="contributor, nr : ${obj.edited.contributors}" th:utext="${nr.first} ? ${contributor} : ', ' + ${contributor}"/>
             </span>
          </div>
          <div class="updated" th:with="formatter=#{date_formatter}">
            <strong class="details-property-label" th:text="#{object_property_editors_created}">File created</strong>:
            <span th:text="${obj.edited.wasCreatedBeforeBTS3()} ? #{created_before_BTS3} : ${#calendars.format(obj.edited.created, formatter)}">xx.xx.20xx</span>, 
            <strong class="details-property-label" th:text="#{object_property_editors_updated}">latest revision</strong>:
            <span th:text="${#calendars.format(obj.edited.updated, formatter)}">xx.xx.20xx</span>
          </div>
        </th:block>
        <div class="review-state">
            <strong class="details-property-label" th:text="#{object_property_review_state}">Editorial state</strong>:
            <span th:text="#{|review_state_${obj.reviewState}|}">status</span>
        </div>
    </div>

    <!-- Object details type & subtype -->
    <div th:fragment="object-property-type-subtype(objType)" th:id="|${objType}-property-type-subtype|">
        <hr/>
        <p>
            <strong th:text="#{|${objType}_property_type|}" class="details-property-label">Type</strong>:
            <span th:replace=" :: type-subtype"/>
        </p>
    </div>

    <!-- Object details text/corpus/thesaurus path -->
    <div th:fragment="object-property-object-paths(objType)" th:id="|${objType}-property-object-paths|">
      <hr/>
      <th:block th:with="controller = |${objType}Controller|">
       <th:block th:with="objectPaths = ${@__${controller}__.createObjectPathLinks(obj)}">
        <p>
            <strong th:text="#{|${objType}_property_object_paths|}" class="details-property-label">
                Object path
            </strong>:
            <div th:replace="fragments/common::object-paths(${objectPaths},false)"/>
        </p>
       </th:block>
      </th:block>
    </div>

    <!-- Lemma details hieroglyphs -->
    <div th:fragment="lemma-property-hieroglyphs" id="lemma-property-hieroglyphs" th:if="${obj.glyphs.unicode} != null">
        <p>
            <strong th:text="#{lemma_property_hieroglyphs}" class="details-property-label">Hieroglyphic spelling(s)</strong>:
            <span th:replace=" :: hieroglyphsSuche"/>
				  <button type="button" id="button_unicode" class="btn btn-light btn-sm text-left text-decoration-none copy-to-clipboard-btn" th:onClick="" >
						  <span class="fas fa-clipboard"></span> <span th:text="#{button_copy_unicode}">Copy Unicode</span> 
				  </button>  
            <th:block th:if="${#strings.contains(obj.glyphs.unicode, '/g')}">
               ; <span th:text="#{lemma_property_hieroglyphs_mdc}">JSesh/MdC</span>: <span th:replace=" :: hieroglyphs"></span>
            </th:block>
				  <button type="button" id="button_mdc" class="btn btn-light btn-sm text-left text-decoration-none copy-to-clipboard-btn" th:onClick="" >
						  <span class="fas fa-clipboard"></span> <span th:text="#{button_copy_MdC}">Copy MdC</span> 
				  </button>  
				  <script th:inline="javascript">
						/*<![CDATA[*/
							var unicode_spelling = /*[[${obj.glyphs.unicode}]]*/ '0';
							document.getElementById("button_unicode").setAttribute( "onClick", "javascript: copyStringToClipboard(unicode_spelling)");
							var mdc_spelling = /*[[${obj.glyphs.mdcCompact}]]*/ '0';
							document.getElementById("button_mdc").setAttribute( "onClick", "javascript: copyStringToClipboard(mdc_spelling)");
						/*]]>*/
					</script>  
        </p>
    </div>

    <!-- Lemma language phase / script / subdict -->
    <div th:fragment="lemma-property-dict" id="lemma-property-dict">
        <hr/>
        <strong th:text="#{lemma_property_dict}" class="details-property-label">Lemma list</strong>:
        <span th:text="#{|dict_${obj.dictionaryName}|}">Hieratic/Demotic/Coptic</span>
    </div>

    <!-- Lemma Attestations -->
    <div th:fragment="lemma-property-attestations" id="lemma-property-attestations">
        <hr/>
        <p>
            <strong th:text="#{lemma_property_attestation}" class="details-property-label">Attestation</strong>
        </p>
		 <p th:if="${obj.attestationCount} > 0">
           <span th:text="${obj.attestationCount}" id="attestationCount" style="visibility:hidden">0</span>
   
            <a th:href="|${@searchController.getSearchResultsPageRoute(@__sentenceController__)}?tokens[0].lemma.id=${obj.id}|">
               <button id="lemma-attestation-count-texts" type="button" class="btn btn-danger text-left text-decoration-none">
               <span class="fas fa-arrow-circle-right"></span>&nbsp;
               <span th:text="#{lemma_property_attestation_occurrences} + ' ' + ${(obj.attestationCount >= 10000) ? '>' : ''} + ${obj.attestationCount} + ' ' + #{|lemma_property_instance${(obj.attestationCount > 1) ? 's' : ''}|}">Occurrences in __ sentences</span>
               </button>
            </a>
            <br/>
            <th:block th:replace=" :: lemma-timespan"/>
        </p>
		 <p th:unless="${obj.attestationCount} > 0">
            <span th:text="#{lemma_property_no_instances}">No occurrences</span>
        </p>		 
    </div>

    <!-- Lemma Attestations timespan -->
    <span th:fragment="lemma-timespan" th:if="${obj.timespan != null}">
        <strong th:text="#{lemma_property_attestation_timespan}" class="details-property-label">Attestation time</strong>:
        <span th:text="#{object_property_aux_attestation_time_from}">from</span>
        <span th:insert=" :: display-year(${obj.timespan.begin})" id="attestation-timespan-from">
            420 BCE
        </span>
        <span th:text="#{object_property_aux_attestation_time_to}">to</span>
        <span th:insert=" :: display-year(${obj.timespan.end})" id="attestation-timespan-to">
            60 CE
        </span>
    </span>

    <!-- Related Objects -->
    <div th:fragment="object-property-related-objects" id="object-property-related-objects" th:unless="${#maps.isEmpty(relations)}">
        <hr/>
        <strong th:text="#{|${objectType}_property_related_objects|}" class="border-bottom details-property-label">Related objects</strong>
        <div class="row py-1 ml-2 mr-2" th:each="predicate : ${relations}">
            <div th:unless="${(objectType == 'sentence' && predicate.key == 'contains') || predicate.value == null || predicate.value.empty}" class="pl-0 col-md-12 border-bottom">
                <span th:text="#{|${objectType}_relation_predicate_${predicate.key}|}" class="details-property-label">Predicate</span>
            </div>
            <div class="col-md-12">
                <th:block th:each="obj : ${predicate.value}" th:object="${obj}">
                  <th:block th:switch="${obj.eclass}" th:unless="${obj == null || obj.eclass == 'BTSAnnotation' || obj.eclass == 'BTSComment'}">
                    <div th:case="'BTSLemmaEntry'" class="result-list-item"  th:id="${obj.id}" th:include="fragments/search/results :: lemma-search-result"/>
                    <div th:case="'BTSThsEntry'" class="result-list-item"  th:id="${obj.id}" th:include="fragments/search/results :: ths-search-result"/>
                    <div th:case="'BTSText'" class="result-list-item"  th:id="${obj.id}" th:include="fragments/search/results :: text-search-result"/>
                    <div th:case="'BTSTCObject'" class="result-list-item"  th:id="${obj.id}" th:include="fragments/search/results :: object-search-result"/>
                    <div th:case="*" class="result-list-item"  th:id="${obj.id}" th:text="${obj.eclass}"/> <!-- Fallback -->
                  </th:block>
                </th:block>
            </div>
        </div>
    </div>
    
    <!-- Sentence annotations -->
    <div th:fragment="object-property-annotations" id="object-property-annotations" th:if="${related != null && #maps.containsKey(related, 'BTSAnnotation')}">
        <hr/>
        <strong th:text="#{|${objectType}_property_related_annotations|}" class="border-bottom details-property-label">Annotations</strong>
        <div class="row py-1 ml-2 mr-2" th:each="predicate : ${relations}">
            <ul class="col-md-12 no-bullet-list">
                <th:block th:each="relatedobj : ${predicate.value}">
                  <th:block th:if="${relatedobj != null && relatedobj.eclass == 'BTSAnnotation'}"> 
                    <li th:unless="${relatedobj.type == 'rubrum'}" class="result-list-item"  th:id="${relatedobj.id}" th:include=" :: sentence-annotation" th:object="${relatedobj}"/>
                  </th:block>
                </th:block>
            </ul>
        </div>
        <th:block th:replace="fragments/common :: construction(#{msg_sentence_comments})"></th:block>
    </div>
   
    <!-- Single sentence annotation -->
   <div th:fragment="sentence-annotation" id="sentence-annotation"> 
       <i class="fas fa-tag"></i>
       <p class="ml-4" th:utext="${related.BTSAnnotation.get(relatedobj.id).name}"/>
       <p th:replace=" :: comment-authorship"/>
   </div>
   
    <!-- Sentence comments -->
    <div th:fragment="object-property-comments" id="object-property-comments" th:if="${related != null && #maps.containsKey(related, 'BTSComment')}">
        <hr/>
        <strong th:text="#{|${objectType}_property_related_comments|}" class="border-bottom details-property-label">Comments</strong>
        <div class="row py-1 ml-2 mr-2" th:each="predicate : ${relations}">
            <ul class="col-md-12 no-bullet-list">
                <th:block th:each="relatedobj : ${predicate.value}">
                  <th:block th:if="${relatedobj != null && relatedobj.eclass == 'BTSComment'}"> 
                    <li class="result-list-item"  th:id="${relatedobj.id}" th:include=" :: sentence-comment" th:object="${relatedobj}"/>
                  </th:block>
                </th:block>
            </ul>
        </div>
        <th:block th:replace="fragments/common :: construction(#{msg_sentence_comments})"></th:block>
    </div>

    <!-- Single sentence comment -->
   <div th:fragment="sentence-comment" id="sentence-comment"> 
       <i class="fas fa-comment-alt"></i>
       <!--<span th:text="${relatedobj}"></span>-->
       <p class="ml-4" th:utext="${related.BTSComment.get(relatedobj.id).body}"/>
       <p th:replace=" :: comment-authorship"/>  
   </div>
   
   
   <!-- Citation block for dynamic pages -->
   
   <div th:fragment="object-property-citationBox(objtype, objid)" id="object-property-citationBox" class="bg-light citation m-sm-2 m-lg-4"> 
    	<div class="bg-light citation  m-sm-1 m-lg-2"> 
    <p class="h6" ><strong th:text="#{citeas_heading}">Please cite as</strong>:</p>
    
				(<em th:text="#{citeas_full}">Full citation</em>)
				<blockquote id="full-citation">
            <th:block th:unless="${obj.eclass == 'BTSThsEntry' or obj.eclass == 'BTSLemmaEntry' or objtype == 'sentences/text' or objtype == 'sentence/token'}">
               <!-- Default citation (with author [not editor] and page label) -->
               <span th:text="${obj.edited.author}">author</span><span th:unless="${obj.edited.contributors} == null" class="editors">, <span class="details-property-label" th:text="#{object_property_editors}">contributors</span> <span th:each="contributor, nr : ${obj.edited.contributors}" th:utext="${nr.first} ? ${contributor} : ', ' + ${contributor}"/></span>, <span  th:unless="${obj.eclass == 'BTSSentence'}" th:text="'&quot;' + ${{'<shortlabel>'+obj.name+'</shortlabel>'}} + '&quot; ('"></span><span th:text="#{|object_id_label_${obj.eclass}|} +' '+ ${objid}"></span><span  th:unless="${obj.eclass == 'BTSSentence'}" th:text="') '"></span> <span th:text="'<' + ${env.baseUrl} + '/' + ${objtype} + '/' + ${objid} +'>,'"></span>
            </th:block> 
            <th:block th:if="${obj.eclass == 'BTSLemmaEntry' and obj.type == 'root'}">
               <!-- Root citation -->
               <span th:text="${obj.edited.author}">author</span><span th:unless="${obj.edited.contributors} == null" class="editors">, <span class="details-property-label" th:text="#{object_property_editors}">contributors</span> <span th:each="contributor, nr : ${obj.edited.contributors}" th:utext="${nr.first} ? ${contributor} : ', ' + ${contributor}"/></span>, "<span class="bbaw-libertine" th:text="${obj.name}"></span>" <span th:text="'(' + #{|object_id_label_${obj.eclass}|} +' '+ ${objid} + ')'"></span> <span th:text="'<' + ${env.baseUrl} + '/' + ${objtype} + '/' + ${objid} +'>,'"></span>
            </th:block>
            <th:block th:if="${objtype == 'sentence/token'}">
               <!-- Sentence token citation -->
              <span th:text="${obj.edited.author}">author</span><span th:unless="${obj.edited.contributors} == null" class="editors">, <span class="details-property-label" th:text="#{object_property_editors}">contributors</span> <span th:each="contributor, nr : ${obj.edited.contributors}" th:utext="${nr.first} ? ${contributor} : ', ' + ${contributor}"/></span>, <span th:text="#{object_id_label_BTSToken} +' '+ ${objid}"></span> <span th:text="'<' + ${env.baseUrl} + '/' + ${objtype} + '/' + ${objid} +'>,'"></span>
            </th:block> 
            <th:block th:if="${obj.eclass == 'BTSThsEntry'}">
               <!-- Thesaurus entry citation -->
               <span th:text="'&quot;' + ${{'<shortlabel>'+obj.name+'</shortlabel>'}} + '&quot; (' + #{|object_id_label_${obj.eclass}|} +' '+ ${objid} + ') <' + ${env.baseUrl} + '/' + ${objtype} + '/' + ${objid} +'>'"></span>, <span th:text="#{citeas_lemma_editor} + ' ' + ${obj.edited.author}">edited by author</span><span th:unless="${obj.edited.contributors} == null">, <span th:text="#{object_property_editors}">contributors</span> <span th:each="contributor, nr : ${obj.edited.contributors}" th:utext="${nr.first} ? ${contributor} : ', ' + ${contributor}"/></span>, 
            </th:block> 
            <th:block th:if="${obj.eclass == 'BTSLemmaEntry' and obj.type != 'root'}">
               <!-- Lemma citation -->
               "<span class="bbaw-libertine" th:text="${obj.name}"></span>" <span th:text="'(' + #{|object_id_label_${obj.eclass}|} +' '+ ${objid} + ') <' + ${env.baseUrl} + '/' + ${objtype} + '/' + ${objid} +'>'"></span>, <span th:text="#{citeas_lemma_editor} + ' ' + ${obj.edited.author}">edited by author</span><span th:unless="${obj.edited.contributors} == null">, <span th:text="#{object_property_editors}">contributors</span> <span th:each="contributor, nr : ${obj.edited.contributors}" th:utext="${nr.first} ? ${contributor} : ', ' + ${contributor}"/></span>, 
            </th:block> 
            <th:block th:if="${objtype == 'sentences/text'}">
               <!-- Text sentences citation -->
               <span th:text="${obj.edited.author}">author</span><span th:unless="${obj.edited.contributors} == null" class="editors">, <span class="details-property-label" th:text="#{object_property_editors}">contributors</span> <span th:each="contributor, nr : ${obj.edited.contributors}" th:utext="${nr.first} ? ${contributor} : ', ' + ${contributor}"/></span>, <span th:text="#{text_sentences_title} +' '+ '&quot;' + ${{'<shortlabel>'+obj.name+'</shortlabel>'}} + '&quot; (' + #{object_id_label_BTSText} +' '+ ${obj.context.textId} + ') <' + ${env.baseUrl} + '/text/' + ${obj.context.textId} +'/sentences>,'"></span>
            </th:block> 
            in: <i th:text="#{tla_Title}"></i>, 
					<span th:text="#{citeas_corpus_version} + ' ' + #{tla_corpusversion} + ', ' + #{citeas_tla_version} + ' ' + #{tla_version} + ', ' + #{tla_ReleaseDate} + ', ' + #{citeas_editor} +' ' + #{tla_Editor} + ' ('+ #{citeas_accessed} + ': '"></span>
					<span id="current-date-long">xx.xx.20xx</span>)
				</blockquote>
            
				(<em th:text="#{citeas_short}">Short citation</em>)
				<blockquote id="short-citation">
					<span th:unless="${objtype == 'sentences/text'}" th:text="${env.baseUrl}+ '/' + ${objtype} + '/' + ${objid} +','"></span>
					<span th:if="${objtype == 'sentences/text'}" th:text="${env.baseUrl}+ '/text/' + ${objid} +'/sentences, '"></span>
					in: <span style="font-style: italic;" th:text="#{tla_Title}">Thesaurus Linguae Aegyptiae</span>
					(<span th:text="#{citeas_accessed}"></span>: <span id="current-date-short">xx.xx.20xx</span>)
				</blockquote>
			  <script th:inline="javascript">
					/*<![CDATA[*/
               var pageLang = /*[[${env.lang}]]*/ 'en';
					var date = new Date(); date.getUTCDate(); 
					if (pageLang == 'de') {
                  var today= date.getDate() + "." + (date.getMonth()+1) + "." + date.getFullYear();
               } else {
                  var today= (date.getMonth()+1) + "/" + date.getDate() + "/" + date.getFullYear();
               }
					document.getElementById('current-date-long').innerHTML =today;
					document.getElementById('current-date-short').innerHTML =today;
					/*]]>*/
				</script>
				<button type="button" class="btn btn-secondary btn-sm text-left text-decoration-none copy-to-clipboard-btn" onclick="copyStringToClipboard(document.getElementById('full-citation').textContent.replaceAll(/\s+/g,' '))"><i class="fas fa-clipboard"></i>&nbsp;<span th:text="#{citeas_copy_button}">Copy citation</span></button>
     </div>  
    </div>
    
    <!-- Persitent ID  -->
    
    <div th:fragment="property-pid(objtype, objid)" id="property-pid">
		<hr/>
		<p>         
		  <strong th:text="#{property_pid}">Persistent ID</strong>:
		  <span th:text="${objid}" id="id">ID</span>
		  <script> 
		  </script>
		  <button type="button" class="btn btn-light btn-sm text-left text-decoration-none copy-to-clipboard-btn" th:onclick="copyStringToClipboard(document.getElementById('id').textContent)" ><span class="fas fa-clipboard"></span>&nbsp;<span th:text="#{button_copy_ID}">Copy ID</span></button>
		  <br/>
		  <strong th:text="#{property_url}">Persistent URL</strong>:
		  <!-- Zitationsbutton -->
		  <span th:text="|${env.baseUrl}/${objtype}/${objid}|" id="page-url">https://thesaurus-linguae-aegyptiae.de/___</span>
		  <button type="button" class="btn btn-light btn-sm text-left text-decoration-none copy-to-clipboard-btn" onclick="copyStringToClipboard(document.getElementById('page-url').textContent)"><span class="fas fa-clipboard"></span>&nbsp;<span th:text="#{button_copy_URL}">Copy URL</span></button>
		</p>
	  </div>

    <div th:fragment="property-pid-variant-warning" id="property-pid-variant-warning">
		 <p th:utext="#{msg_pid_variant_warning}"/>
	  </div>     

    <!-- "Atoms" -->

    <!-- POS/type -->
    <span th:fragment="type-subtype" name="type-subtype" class="type-subtype" th:classappend="${objectType}">
        <th:block th:with="key=|${objectType}_fulltype_${obj.type}_${obj.subtype}|">
            <th:block th:with="label=${#messages.msgOrNull(key)}">
                <span th:if="${label} != null" th:text="${label}">Type/subtype</span>
                <th:block th:unless="${label} != null">
                    <span th:text="#{|${objectType}_type_${obj.type}|}">Type</span>
                    <span th:if="${obj.subtype}">
                        (<span th:text="#{|${objectType}_subtype_${obj.subtype}|}">Subtype</span>)
                    </span>
                </th:block>
            </th:block>
        </th:block>
    </span>

    <!-- hieroglyphs in Lemma Detail-->
    <th:block th:fragment="hieroglyphs" th:if="${obj.glyphs.svg != null}">
        <span class="hieroglyphs" th:title="${obj.glyphs.mdcCompact}" th:utext="${obj.glyphs.svg}" style="height: 14pt"/></span>
    </th:block>

     <!-- hieroglyphs in Such-Ergebniss-->
     <th:block th:fragment="hieroglyphsSuche" th:if="${obj.glyphs.unicode != null}">
            <span class="unicode-hieroglyphs" th:utext="${{obj.glyphs.unicode}}" style="height: 14pt"/>
        </span>
    </th:block>

     <!-- hieroglyphs in Unicode with control chars -->
     <th:block th:fragment="hieroglyphs-unicode-with-controls" th:if="${obj.glyphs.unicode != null}">
            Experimental Unicode transformation: <span class="egyptian-text-unicode" th:utext="${{obj.glyphs.unicode}}" style="font-size: 14pt"/>
        </span>
    </th:block>
    
    <!-- display a single year -->
    <th:block th:fragment="display-year(year)">
        <span th:text="${(year < 1) ? T(Math).abs(year) : year}">3500</span>
        <span th:text="#{|object_property_aux_attestation_time_${(year < 1) ? 'bce' : 'ce'}|}">BCE</span>
    </th:block>


</body>

</html>
