<?xml version="1.0"?>
<html xmlns:th="http://thymeleaf.org">

  <body>

    <form id="dict-search" name="dict-search" th:action="@{/lemma/search}" th:object="${lemmaSearchForm}" method="get">
      <div class="form-group row bg-grey">
        <label class="col-form-label col-xl-2" th:text="#{field_label_script}">Script</label>
        <div class="col-xl-10">
          <div th:each="item : ${allScripts}" class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" th:field="*{script}" th:value="${item}"/>
            <label class="form-check-label" th:for="${#ids.prev('script')}" th:text="#{|dict_${item}|}"/>
          </div>
        </div>
      </div>

      <div class="form-group row">
        <label class="col-form-label col-xl-2" for="transcription" th:text="#{field_label_transcription}">Transcription</label>
        <div class="col-xl-10">
          <input class="bbaw-libertine form-control mb-3" type="text" th:field="*{transcription}" name="transcription"/>
        </div>
      </div>

      <div th:replace=" :: type-spec('word-class', 'lemmaSearchForm.pos', ${wordClasses})"/>

      <div class="form-group row">
        <label class="col-form-label col-xl-2" for="root_transcription" th:text="#{field_label_root_transcription}">Root</label>
        <div class="col-xl-10">
          <input class="bbaw-libertine form-control mb-3" type="text" th:field="*{root}" name="root_transcription"/>
        </div>
      </div>

      <div class="form-group row bg-grey">
        <label class="col-form-label col-xl-2" for="translation" th:text="#{field_label_translation}">Translation</label>
        <div class="col-xl-10">
          <input class="form-control mb-3" type="text" th:field="*{translation.text}" name="translation"/>
          <div th:each="lang : ${allTranslationLanguages}" class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" th:field="*{translation.lang}" th:value="${lang}"/>
            <label class="form-check-label" th:for="${#ids.prev('translation.lang')}" th:text="#{|lang_label_${lang}|}">Language</label>
          </div>
        </div>
      </div>

      <div class="form-group row">
        <label class="col-form-label col-xl-2" for="bibliography" th:text="#{field_label_bibliography}">Bibliography</label>
        <div class="col-xl-10">
          <input class="form-control mb-3" type="text" th:field="*{bibliography}" name="bibliography"/>
        </div>
      </div>

      <div th:replace=" :: type-spec('annotation-type', 'lemmaSearchForm.annotationType', ${lemmaAnnotationTypes})"/>

    </form>


    <!-- Pieces -->

    <!-- Type / Subtype selection multi-dropdown composite -->

      <div class="form-group row bg-grey" th:fragment="type-spec(name, bind, typeMap)" th:object="${__${bind}__}">
        <label class="col-form-label col-xl-2" th:for="|${name}-type|" th:text="#{|field_label_${name}_type|}">Type/Subtype specification</label>
        <div class="col-xl-10">
          <select class="form-control" th:id="|${name}-type|" name="word-class-type" th:field="*{type}">
            <option th:each="type : ${typeMap}" th:value="${type.key}" th:text="#{|field_value_label_${name}_type_${type.key}|}">Type</option>
          </select>
          <!-- create hidden subtype menu for each type -->
          <select th:unless="${#lists.isEmpty(type.value)}" th:each="type : ${typeMap}" th:id="|${name}-type-hidden-options-${type.key}|" hidden="true">
            <option th:each="subtype : ${type.value}" th:value="${subtype}" th:text="#{|field_value_label_${name}_subtype_${subtype}|}">Subtype</option>
          </select>
        </div>
        <label class="col-form-label col-xl-2" th:for="|${name}-subtype|" th:text="#{|field_label_${name}_subtype|}">Subtype</label>
        <div class="col-xl-10">
          <select class="form-control" th:id="|${name}-subtype|" th:name="|${name}-subtype|" th:field="*{subtype}">
            <script th:inline="javascript">
              //<![CDATA[
              function populateSubTypeDropDown(name) {
                let options = $(`#${name}-type-hidden-options-` + $(`#${name}-type`).val());
                let dropdown = $(`#${name}-subtype`);
                if (options.children('option').length > 0) {
                  dropdown.html(options.html());
                } else {
                  dropdown.html('');
                }
                dropdown.attr('hidden', options.children('option').length < 1);
                dropdown.val('');
              }
              {
                let name = /*[[${name}]]*/ null;
                $(`#${name}-type`).on('input', () => {
                  populateSubTypeDropDown(name);
                  Cookies.set(
                    `form-field-${name}-select-type`,
                    $(`#${name}-type`).val(),
                    {expires: 7, path: '/search'}
                  );
                });
              }
              //]]>
            </script>
            <script th:inline="javascript">
              //<![CDATA[
              {
                let name = /*[[${name}]]*/ null;
                $(`#${name}-subtype`).on('input', () => {
                  Cookies.set(
                    `form-field-${name}-select-subtype`,
                    $(`#${name}-subtype`).val(),
                    {expires: 7, path: '/search'}
                  );
                });
              }
              //]]>
            </script>
            <script th:inline="javascript">
              //<![CDATA[
              $(window).on('pageshow', () => {
                let name = /*[[${name}]]*/ null;
                let typeValue = Cookies.get(`form-field-${name}-select-type`);
                let subtypeValue = Cookies.get(`form-field-${name}-select-subtype`);
                $(`#${name}-type`).val(typeValue);
                populateSubTypeDropDown(name);
                $(`#${name}-subtype`).val(subtypeValue);
              });
              //]]>
            </script>
          </select>
        </div>
      </div>

  </body>
</html>
