<?xml version="1.0"?>
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xml:lang="en"
      layout:decorate="~{base}"
>
  <head>
    <title th:text="#{error_404}"/>
  </head>

  <body>

    <div layout:fragment="content" style="min-height: 500px">

      <div class="row mb-3 details-header">
         <div id="review-state-header" class="col-sm-12 col-lg-8">
            <h2 class="id mt-1">
              <span class="text-monospace text-uppercase font-weight-bold"  th:text="#{error_404}">Error description</span>
            </h2>
            <!--<p class="text-muted" th:text="|Error ${code != null ? code : '404'} (${name})|">Error 404 (ObjectNotFoundException)</p>-->
         </div>
      </div>

      <div class="row">
        <div class="col-sm-12 col-lg-8" id="details-content">
          <div class="my-5">
            <h5 class="border-bottom">
						<span class="error-msg text-danger" th:text="#{error_404} + ':'"></span>
						<span class="text-monospace" th:text="'...' + ${url}">.../object/0000</span>
					</h5>
					<p class="error-msg text-muted" th:text="${msg}">Error description</p>
          </div>
        </div>

        <div class="sidebar col-lg-4 d-none d-lg-block">
          <div class="sticky-top">


          </div>
        </div>
      </div>

    </div>

  </body>
</html>
