<?xml version="1.0"?>
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xml:lang="en"
      layout:decorate="~{base}"
>
  <head>
    <title th:text="#{error_404}"/>
  </head>

  <body>

    <div layout:fragment="content" style="min-height: 500px">

      <div class="row mb-3 details-header">
         <div id="review-state-header" class="col-sm-12 col-lg-8">
            <h2 class="id mt-1">
              <span class="text-monospace text-uppercase font-weight-bold"  th:text="#{error_404}">Error description</span>
            </h2>
            <!--<p class="text-muted" th:text="|Error ${code != null ? code : '404'} (${name})|">Error 404 (ObjectNotFoundException)</p>-->
         </div>
      </div>

      <div class="row">
        <div id="details-content">
          <div class="my-5">
            <h5 class="border-bottom">
						<span class="error-msg text-danger" th:text="#{error_404} + ':'"></span>
						<span class="text-monospace" th:text="'...' + ${url}">.../object/0000</span>
					</h5>
					<p class="error-msg text-muted" th:text="${msg}">Error description</p>
               <div class="mt-3 text-secondary development-msg">
                  <p><i class="fas fa-wrench"></i> Unfortunately, eleven highly frequent lemmata are currently not properly delivered in time by the server (timeout).<br/>These are</p>
                  <ul>
                     <li> For <span class="transliteration">=j</span> (lemma ID 10030), <a class="bg-warning" href="/lemmata-static/10030">follow this link</a>.</li>
                     <li> For <span class="transliteration">=k</span> (lemma ID 10110), <a class="bg-warning" href="/lemmata-static/10110">follow this link</a>.</li>
                     <li> For <span class="transliteration">=f</span> (lemma ID d2193), <a class="bg-warning" href="/lemmata-static/d2193">follow this link</a>.</li>
                     <li> For <span class="transliteration">=f</span> (lemma ID 10050), <a class="bg-warning" href="/lemmata-static/10050">follow this link</a>.</li>
                     <li> For <span class="transliteration">m</span> (lemma ID 400007), <a class="bg-warning" href="/lemmata-static/400007">follow this link</a>.</li>
                     <li> For <span class="transliteration">n</span> (lemma ID 400055), <a class="bg-warning" href="/lemmata-static/400055">follow this link</a>.</li>
                     <li> For <span class="transliteration">n.j</span> (lemma ID 79800), <a class="bg-warning" href="/lemmata-static/79800">follow this link</a>.</li>
                     <li> For <span class="transliteration">pꜣ</span> (lemma ID d1839), <a class="bg-warning" href="/lemmata-static/d1839">follow this link</a>.</li>
                     <li> For <span class="transliteration">nb</span> (lemma ID 81660), <a class="bg-warning" href="/lemmata-static/81660">follow this link</a>.</li>
                     <li> For <span class="transliteration">jri̯</span> (lemma ID 28550), <a class="bg-warning" href="/lemmata-static/28550">follow this link</a>.</li>
                     <li> For <span class="transliteration">1...n</span> (lemma ID 850814), <a class="bg-warning" href="/lemmata-static/850814">follow this link</a>.</li>
                  </ul>
                  <p>We are struggeling to fix the problem.</p>
               </div>
          </div>
        </div>

      </div>

    </div>

  </body>
</html>
