<!DOCTYPE html>
<html
    xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
>

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" th:href="@{/img/icon/favicon.ico}" href="../static/img/icon/favicon.ico"
      sizes="16x16 24x24 32x32 64x64" type="image/x-icon"/>

    <link rel="stylesheet" th:href="@{${env.bootstrapCss}}"
      href="../static/vendor/bootstrap-4.4.1-dist/css/bootstrap.min.css" type="text/css"/>
    <link rel="stylesheet" th:href="@{${env.fontawesomeCss}}"
      href="../static/vendor/fontawesome-free-5.7.0-web/css/all.css" type="text/css"/>

    <script th:src="@{/vendor/jquery.min.js}"
      src="../static/vendor/jquery.min.js"></script>
    <script th:src="@{${env.bootstrapJs}}"
      src="../static/vendor/bootstrap-4.3.1-dist/js/bootstrap.min.js"></script>
    <script th:src="@{${env.fontawesomeJs}}"
      src="../static/vendor/fontawesome-free-5.7.0-web/js/all.js"></script>

    <link rel="stylesheet" th:href="@{/css/tla-styles.css}"
      href="../static/css/tla-styles.css" type="text/css"/>

    <script th:src="@{/vendor/headroom.min.js}"
      src="../static/nevdor/headroom.min.js"></script>
    <script th:src="@{/js/tla-functions.js}"
      src="../static/js/tla-functions.js"></script>
  </head>

  <body>

    <header th:replace="fragments/common :: header"/>

    <div th:replace="fragments/common :: breadcrumbs"/>

    <main>
      <div id="printable-content" class="container content">
        <div class="container content">
            <div layout:fragment="content"/>
        </div>
      </div>
      <!-- Main content goes here -->
    </main>

    <footer th:replace="fragments/common :: footer"/>

  </body>
</html>