<?xml version="1.0"?>
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{base}"
      th:lang="${contentLang}"
>
  <head>
    <title th:text="${env.appName}">Title</title>
  </head>
  <body>

    <div layout:fragment="content">

      <div class="row">
        <div class="col-sm-12 col-lg-12" id="editorial-content">
          <th:block th:insert="~{ ${templatePath} :: body }"/>
        </div>
      </div>
    </div>

  </body>
</html>