<?xml version="1.0"?>
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{base}"
      th:lang="${contentLang}"
>
  <head>
    <title th:text="|${env.appName} - ${pageTitle}|">Title</title>
     
  </head>
  <body onload="init()">

    <div layout:fragment="content">

      <div class="row">
        <div class="col-sm-12 col-lg-12" id="editorial-content">
          <th:block th:insert="~{ ${templatePath} :: //article }"/>
        </div>
      </div>
    </div>
    
<script th:inline="javascript">
              //<![CDATA[
            { 
             init();
            }
			 //]]>
 </script>  
  </body>
</html>