<?xml version="1.0"?>
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{base}"
      xml:lang="en"
>
  <head>
    <title th:text="|#{|error_${code}|} (${code})|"/>
  </head>

  <body>

    <div layout:fragment="content" style="min-height: 500px">

      <h1 th:text="${url}"/>
      <div class="row mb-3 details-header">
         <div id="review-state-header" class="col-sm-12 col-lg-8 d-flex justify-content-between align-items-end">
            <h2 class="id mt-1">
              <span class="bbaw-libertine" th:text="${msg}">Object name</span>
            </h2>
         </div>
         <h3 class="float-right font-weight-bold" th:text="${code}"/>
      </div>

      <div class="row">
        <div class="col-sm-12 col-lg-8" id="details-content">
          <div class="error-msg" th:text="#{|error_${code}_desc|}">Feherbeschreibung</div>
        </div>
      </div>
    </div>

  </body>
</html>
