<?xml version="1.0"?>
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{base}"
      xml:lang="en"
>
  <head>
    <title th:text="|#{|error_${error.code}|} (${error.code})|"/>
  </head>

  <body>

    <div layout:fragment="content" class="vh-100">

      <div th:replace="fragments/details :: details-page-header"/>

      <div class="row">
        <div class="col-sm-12 col-lg-8" id="details-content" th:object="${obj}">
          <div class="error-msg" th:text="#{|error_${error.code}_desc|}">Feherbeschreibung</div>
        </div>
      </div>
    </div>

  </body>
</html>
