<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{base}"
>
  <body>
	
    <div layout:fragment="content">
	
		<div class="row mb-3">
			<div class="col-6"><h2 class="id mt-1" th:text="#{menu_global_search}">Search</h2></div>
			<div th:replace="fragments/common :: page-help('search-page')"/>
		</div>
	
         <script>
        const saveDropdown = (name, prop) => {
				storeUserSetting(`form-field-${name}-select-${prop}`, $(`#${name}-${prop}`).val() )
        }
      </script>
      <div class="row search my-4">
        <div class="col-lg-8 col-sm-12">
          <div class="accordion" id="search-forms-container">

            <div class="card" th:each="searchForm : ${forms}" th:with="formId=|${searchForm.key}-search|">
              <div class="card-header" th:id="|${formId}-heading|">
                <h2 class="mb-0">
                  <i th:id="|icon-${formId}|" class="icon" th:classappend="${searchForm.expanded == true ? 'expanded' : 'collapsed'}"></i>
                  <button class="btn btn-link toggle-collapsible" type="button" data-toggle="collapse"
                      th:id="|toggle-${formId}-form-button|"
                      th:data-target="|#${formId}-collapsible|"
                      th:aria-controls="|#${formId}-collapsible|"
                      th:aria-expanded="${searchForm.expanded}">
                    <span th:text="#{|form_label_${formId}|}">Search Form Caption</span>
                    <script th:inline="javascript">
                      //<![CDATA[
                      {
                        let key = /*[[${formId}]]*/ null; 
                        let buttonId = `#toggle-${key}-form-button`;
                        let iconId = `#icon-${key}`;
                        $(buttonId).click(() => {
                          $('div.sidebar-controls').attr('style', 'display: none;');
                          let span = $(`${iconId}`);
                          let expanded = span.attr('class').endsWith('expanded');
                          if (!expanded) {
                            //$('button.btn.toggle-collapsible').attr('aria-expanded', false);
                            $('.card i').attr('class', 'icon collapsed');
                            $(`#${key}-sidebar-controls`).toggle();
                          }
                          span.attr('class', `icon ${expanded ? 'collapsed' : 'expanded'}`);
                          //$(this).attr('aria-expanded', expanded);
                        });
                      }
                      //]]>
                    </script>
                  </button>
                </h2>
              </div>

              <div class="collapse" th:classappend="${searchForm.expanded}? 'show'"
                  th:id="|${formId}-collapsible|"
                  th:aria-labelledby="|#${formId}-heading|"
                  data-parent="#search-forms-container"
                  th:insert="fragments/search/forms :: #__${formId}__"/>
            </div>
          </div>
        </div>

        <div class="sidebar col-lg-4">
          <div class="stick-top">
            <div th:each="searchForm : ${forms}" th:with="formId=|${searchForm.key}-search|"
                th:id="|${formId}-sidebar-controls|" class="sidebar-controls"
                th:style="${searchForm.expanded} ? '' : 'display: none;'"
            >
              <div th:replace="fragments/search/forms :: submit-form-button(${searchForm})"/>
              <div th:replace="fragments/search/forms :: clear-form-button(__${formId}__)"/>
            </div>
          </div>
        </div>
      </div>

    </div>

  </body>
</html>
