<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{base}"
>
<body>
  <div layout:fragment="content">
    <div class="row search my-4">
      <div class="col-lg-8">
        <form th:replace="fragments/search :: #dict-search"/>
      </div>

      <div class="sidebar col-lg-4">
        <div class="stick-top">
          <button class="btn btn-block btn-danger text-left text-decoration-none mt-4" id="submit-dict-search" form="dict-search" type="submit">
            <span class="fas fa-arrow-circle-right"></span>
            <span th:text="#{button_label_dict_search}">Search Dict</span>
          </button>
        </div>
      </div>
    </div>

  </div>

</body>