<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{base}"
>
  <body>
    <div layout:fragment="content">
      <div class="row search my-4">
        <div class="col-lg-8 col-sm-12">
          <div class="accordion" id="search-forms-container">
            <div class="card">
              <div class="card-header" id="dict-search-heading">
                <h2 class="mb-0">
                  <button class="btn btn-link" type="button" data-toggle="collapse"
                      data-target="#dict-search-collapsible" aria-controls="#dict-search-collapsible"
                      aria-expanded="true">
                    <span class="fas fa-arrow-circle-down"></span>
                    <span th:text="#{form_label_dict-search}">Dictionary entries</span>
                  </button>
                </h2>
              </div>

              <div id="dict-search-collapsible" class="collapse show" aria-labelledby="#dict-search-heading"
                  data-parent="#search-forms-container"
                  th:insert="fragments/search :: #dict-search"/>
            </div>


            <div class="card">
              <div class="card-header" id="sentence-search-heading">
                <h2 class="mb-0">
                  <button class="btn btn-link" type="button" data-toggle="collapse"
                      data-target="#sentence-search-collapsible" aria-controls="#sentence-search-collapsible"
                      aria-expanded="false">
                    <span class="fas fa-arrow-circle-right"></span>
                    <span th:text="#{form_label_sentence-search}">Text corpus</span>
                  </button>
                </h2>
              </div>
              <div id="sentence-search-collapsible" class="collapse" aria-labelledby="#sentence-search-heading"
                  data-parent="#search-forms-container"
                  th:insert="fragments/search :: #sentence-search"/>
            </div>

          </div>
        </div>

        <div class="sidebar col-lg-4">
          <div class="stick-top">
            <div>
              <button class="btn btn-block btn-danger text-left text-decoration-none mt-4" id="submit-dict-search" form="dict-search" type="submit">
                <span class="fas fa-arrow-circle-right"></span>
                <span th:text="#{button_label_dict_search}">Search Dict</span>
              </button>
            </div>
            <div th:replace="fragments/search :: clear-form-button(dict-search)"/>
            <div>
              <button class="btn btn-block btn-danger text-left text-decoration-none mt-4" id="submit-sentence-search" form="sentence-search" type="submit">
                <span class="fas fa-arrow-circle-right"></span>
                <span th:text="#{button_label_sentence_search}">Search Text Corpus</span>
              </button>
            </div>
          </div>
        </div>
      </div>

    </div>

  </body>
</html>
