<article>
   <header>
      <h1 id="page-title">TLA – Lizensierungen</h1>
   </header>
   <section>
      <p>Die in dieser Publikation verfügbaren <strong>wissenschaftlichen Daten</strong> sind unter einer <a rel="license" href="https://creativecommons.org/licenses/by-sa/4.0/deed.de" target="_blank">Creative Commons Attribution-ShareAlike 4.0 International License</a> lizenziert.
      <br/><a rel="license" href="https://creativecommons.org/licenses/by-sa/4.0/deed.de" target="_blank"><img class="m-1" alt="Creative Commons License" src="/img/CC-BY-SA-88x31.png"></a></p>
      <div th:replace="fragments/common :: citation-website"/>
      <p>Die die Implementierung dieser Webseite ist unter einer Apache-2.0 License lizenziert, siehe dazu <a rel="license" href="https://github.com/thesaurus-linguae-aegyptiae/tla-web/blob/master/LICENSE" target="_blank">hier</a>. Wenn Sie <strong>Implementierung oder Design</strong> dieser Website verwenden möchten, wenden Sie sich bitte an den <a href="/legal/imprint">ausführenden Redakteur</a>.</p></section>
   <footer>
      <p class="credits">Text: D.A.Werning</p>
      <div th:replace="fragments/common :: static-page-citationBox"/>
   </footer>
</article>