<?xml version="1.0"?>
<html xmlns:th="http://thymeleaf.org">

  <body>

    <!-- ID lookup search forms -->
	<!-- ## um unterschiedliche actions zu ermöglichen, sind die ID-Suchen in drei forms verteilt, leider amit auch zwei Reiter auf der Suchseite ## -->
    <form id="lemma-id-search" name="lemma-id-search" th:object="${lemma}"
        th:action="@{/lemma/lookup}" method="get"> 
      <fieldset class="form-group row">
        <label class="col-form-label col-xl-2" th:text="#{field_label_lemma_id}" for="id-search-lemma">Lemma ID</label>
        <div class="col-xl-10">
          <input class="form-control mb-1 lemma-id" type="text" th:field="*{id}"
              th:id="id-search-lemma" th:list="id-search-lemma-suggestions">
            <script th:replace="fragments/search/tools :: autocomplete('id-search-lemma')"></script>
          </input>
          <datalist th:id="id-search-lemma-suggestions"/>
        </div>
      </fieldset>
	  </form>
	  
    <form id="sentence-id-search" name="sentence-id-search" th:object="${lemma}"
        th:action="@{/sentence/lookup}" method="get">
      <fieldset class="form-group row bg-grey">
        <label class="col-form-label col-xl-2" th:text="#{field_label_sentence_id}" for="id-search-sentence">
          Sentence ID
        </label>
        <div class="col-xl-10">
          <input class="form-control mb-1 sentence-id" type="text" th:field="*{id}"
              th:id="id-search-sentence" th:list="id-search-sentence-suggestions">
            <script th:replace="fragments/search/tools :: autocomplete('id-search-sentence')"></script>
          </input>
          <datalist th:id="id-search-sentence-suggestions"/>
        </div>
      </fieldset>
	  </form>
	  
    <form id="text-id-search" name="text-id-search" th:object="${lemma}"
        th:action="@{/text/lookup}" method="get"> <!--##warum muss da th:object="${lemma}" stehen nicht th:object="${text}"-->
      <fieldset class="form-group row">
        <label class="col-form-label col-xl-2" th:text="#{field_label_text_id}" for="id-search-text">
          Sentence ID
        </label>
        <div class="col-xl-10">
          <input class="form-control mb-1 text-id" type="text" th:field="*{id}"
              th:id="id-search-text" th:list="id-search-text-suggestions">
            <script th:replace="fragments/search/tools :: autocomplete('id-search-text')"></script>
          </input>
          <datalist th:id="id-search-text-suggestions"/>
        </div>
      </fieldset>
	  </form>
	
    <form id="object-id-search" name="object-id-search" th:object="${lemma}"
        th:action="@{/object/lookup}" method="get"> <!--##warum muss da th:object="${lemma}" stehen nicht th:object="${text}"-->
      <fieldset class="form-group row bg-grey">
        <label class="col-form-label col-xl-2" th:text="#{field_label_object_id}" for="id-search-object">
          Sentence ID
        </label>
        <div class="col-xl-10">
          <input class="form-control mb-1 object-id" type="text" th:field="*{id}"
              th:id="id-search-object" th:list="id-search-object-suggestions">
            <script th:replace="fragments/search/tools :: autocomplete('id-search-object')"></script>
          </input>
          <datalist th:id="id-search-object-suggestions"/>
        </div>
      </fieldset>
	  </form>
	
    <form id="ths-id-search" name="ths-id-search" th:object="${lemma}"
        th:action="@{/thesaurus/lookup}" method="get"> <!--##warum muss da th:object="${lemma}" stehen nicht th:object="${text}"-->
      <fieldset class="form-group row">
        <label class="col-form-label col-xl-2" th:text="#{field_label_ths_id}" for="id-search-ths">
          Sentence ID
        </label>
        <div class="col-xl-10">
          <input class="form-control mb-1 ths-id" type="text" th:field="*{id}"
              th:id="id-search-ths" th:list="id-search-ths-suggestions">
            <script th:replace="fragments/search/tools :: autocomplete('id-search-ths')"></script>
          </input>
          <datalist th:id="id-search-ths-suggestions"/>
        </div>
      </fieldset>
	  </form>
	
	   <form id="text-search" name="text-search"
        th:action="@{${@searchController.getSearchResultsPageRoute(@__textController__)}}"
        th:object="${textSearchForm}" method="get">
      <div th:replace=" :: translation-spec('text', 'textSearchForm', ${allTranslationLanguages})"/>
      </form>
	  
    <!-- sentence/occurrence search form -->
    <form id="sentence-search" name="sentence-search"
        th:action="@{${@searchController.getSearchResultsPageRoute(@__sentenceController__)}}"
        th:object="${sentenceSearchForm}" method="get">
      <div th:replace=" :: translation-spec('sentence', 'sentenceSearchForm', ${allTranslationLanguages})"/>
      <div>
        <!--<div class="form-group row">
          <input class="form-control mb-3 col-xl-10" type="text" th:name="|passport['date.date.date'].values|"/>
          <input class="form-check-input col-xl-2" type="checkbox" th:name="|passport['date.date.date'].expand|" value="true"/>
        </div>-->
        <fieldset th:each="token, i : *{tokens}" class="form-group row">
          <label class="col-form-label col-xl-2" th:text="#{field_label_lemma}">Lemma</label>
          <!--<label class="col-form-label col-xl-1" th:text="${token.empty}"></label>-->
          <div class="col-xl-10">

            <input class="form-control mb-3 lemma-id" type="text" th:field="*{tokens[__${i.index}__].lemma.id}"
                th:id="|token-${i.index}-lemma|" th:list="|token-${i.index}-lemma-suggestions|">
              <script th:replace="fragments/search/tools :: autocomplete(__|token-${i.index}-lemma|__)"></script>
            </input>
            <datalist th:id="|token-${i.index}-lemma-suggestions|"/>
          </div>

          <label class="col-form-label col-xl-2" th:text="#{field_label_hieroglyphs}">Hieroglyphs</label>
          <div class="col-xl-10">
            <input class="form-control mb-3" type="text" th:field="*{tokens[__${i.index}__].glyphs}"/>
          </div>
          <div th:replace=" :: translation-spec('token-__${i.index}__', 'sentenceSearchForm.tokens[__${i.index}__]', ${allTranslationLanguages})"/>
        </fieldset>
      </div>
    </form>

    <!-- dictionary search form -->

    <form id="lemma-search" name="lemma-search"
        th:action="@{${@searchController.getSearchResultsPageRoute(@__lemmaController__)}}"
        th:object="${lemmaSearchForm}" method="get">
      <div class="form-group row bg-grey">
        <label class="col-form-label col-xl-2" th:text="#{field_label_script}">Script</label>
        <div class="col-xl-10">
          <div th:each="item : ${allScripts}" class="form-check form-check-inline lemma-script">
            <input class="form-check-input"   type="checkbox"  th:field="*{script}" th:value="${item}" />
            
            <label class="form-check-label" th:for="${#ids.prev('script')}" th:text="#{|dict_${item}|}"/>
            <script>
				//document.getElementById("script1").setAttribute("checked","checked")
				if (getUserSetting("TranscriptionScript")==null) {
				storeUserSetting("TranscriptionScript", "hieratic");
				document.getElementById("script1").setAttribute("checked",true);
				storeUserSetting("Mdc","enabled");
				}
            </script>


          </div>
        </div> 
      </div>

      <div class="form-group row">
       <!--   <label class="col-form-label col-xl-2" for="transcription" th:text="#{field_label_transcription}">Transcription</label> -->
         <label class="col-form-label col-xl-2" th:for="*{transcription}">
        <span th:text="#{field_label_transliteration}">Transliteration </span>
        <a class="transliteration-help" href="#" role="button" data-toggle="modal" data-target="#transliteration-help">
        <i class="fas fa-info-circle"></i></a>
        </label>

     <div th:replace=" :: transcription-spec('dict', 'lemmaSearchForm', ${allTranscriptionEncodings})"/>
     </div>
         

      <div th:replace=" :: type-spec('wordClass', 'lemmaSearchForm.wordClass', ${wordClasses})"/>
       
      <div class="form-group row">
        <label  class="col-form-label col-xl-2" th:for="*{root}">
        <span th:text="#{field_label_root_transliteration}">Root </span>
        <a class="transliteration-help" href="#" role="button" data-toggle="modal" data-target="#transliteration-help">
        <i class="fas fa-info-circle"></i></a>
        </label>
        
         
        <div class="col-xl-10">
          <input class="bbaw-libertine form-control mb-3 keyboardInput" type="text" th:field="*{root}" lang="egy"/>
			 <div class="form-check form-check-inline">
							  <input class="form-check-input transcription-enc-btn" type="radio" name="root_enc" id="root_enc_unicode" value="unicode" checked disabled>
							  <label class="form-check-label" for="root_enc_unicode" th:text="#{field_value_label_enc_unicode}">Unicode</label>
						</div>
						<!--<div class="form-check form-check-inline">
							  <input class="form-check-input transcription-enc-btn" type="radio" name="root_enc" id="root_enc_mdc" value="manuel_de_codage" >
							  <label class="form-check-label text-to-be-revised" for="root_enc_mdc" th:text="#{field_value_label_enc_mdc}">Manuel de Codage</label>
						</div>
						<script>		
							if (getUserSetting("RootEncoding")==null){
							storeUserSetting("RootEncoding", "unicode");
							
							document.getElementById("root_enc_unicode").setAttribute("checked",true);
							document.getElementById("root_enc_mdc").setAttribute("disabled",false);
							}
						</script>-->

        </div>
      </div>
        

      <div th:replace=" :: translation-spec('dict', 'lemmaSearchForm', ${allTranslationLanguages})">
     
    
     
      </div>

      <div class="form-group row">
        <label class="col-form-label col-xl-2" th:for="*{bibliography}">
		 <span th:text="#{field_label_bibliography}">Bibliography</span>
		<a class="transliteration-help" href="#" role="button" data-toggle="modal" data-target="#bibliography-help"><i class="fas fa-info-circle"></i></a>
		</label>
			<div class="col-xl-10">
          <input class="form-control mb-3" type="text" th:field="*{bibliography}"/>
        </div>
      </div>

      <!--  <div th:replace=" :: type-spec('annotation-type', 'lemmaSearchForm.anno', ${lemmaAnnotationTypes})"/>-->
<div class="modal fade" id="transliteration-help" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered"  pointer-events="all" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalCenterTitle" th:text="#{modal_transliteration_title}">Transliteration search string</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
           <div class="modal-body">
           <span th:utext="#{modal_transliteration_text}">The following wildcard ...</span>
          </div> 
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal" th:text="#{modal_close}">Close</button>
          </div>
        </div>
      </div>
    </div>
  <!--   <input type="hidden" value="sortKey_asc" th:value="*{sort}" name='sort'/>-->

<div class="modal fade" id="bibliography-help" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered"  pointer-events="all" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalCenterTitle" th:text="#{modal_bibliography_title}">Bibliography field contents</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
           <div class="modal-body">
           <span th:utext="#{modal_bibliography_text}">For abbreviations ... see:</span>
          </div> 
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal" th:text="#{modal_close}">Close</button>
          </div>
        </div>
      </div>
    </div>
    </form>


    <!-- Widgets -->

    <!-- Submit form button.
      Will be given the ID `submit-${form.key}-search`.

      params:
        form (`tla.web.model.ui.SearchFormExpansionState`): representation of search form initial expansion state
    -->
        <div th:fragment="submit-form-button(form)" th:with="formId=|${form.key}-search|">
       
      <button class="btn btn-block btn-danger text-left text-decoration-none mt-4 mb-2"
          th:id="|submit-${formId}|"
          th:form="${formId}" type="submit">
      
        <span class="fas fa-arrow-circle-right"></span>
        <span th:text="#{|button_label_${form.key}_search|}">Submit Search</span>
      
      </button>
     
    </div>


    <!-- Clear form button.
      When clicked, it tries to empty out all input fields in the corresponding search form.
      params:
        form (string): id of the search form to clear
    -->
    <div th:fragment="clear-form-button(form)">
      <button th:id="|clear-form-button-${form}|" type="button" class="btn btn-block btn-secondary text-left text-decoration-none">
        <span class="fas fa-times-circle"></span>
        <span th:text="#{button_label_clear_form}">Clear all</span>
        <script th:inline="javascript">
          //<![CDATA[
          {
           let form = /*[[${form}]]*/ null;
            $(`#clear-form-button-${form}`).click(() => {
              $(`form#${form} input[type="text"]`).val('');
              //$(`form#${form} input[type="checkbox"]`).prop('checked', false);
              //$(`form#${form} select`).val('');
              $('#script1').prop("checked",true);
              $('#script2').prop("checked",false);
              $('#transcription_enc_unicode').prop("checked",true);
              $('#transcription_enc_mdc').prop("disabled",false);
              $('#root_enc_unicode').prop("checked",true);
              // $('#root_enc_mdc').prop("disabled",false); currently no MdC allowed
              $('#wordClass-type').prop("selectedIndex",1);
              $('#wordClass-subtype').prop("selectedIndex",0);
              $('#field-value-translation-checkbox-de-dict').prop("checked", true);
              $('#field-value-translation-checkbox-en-dict').prop("checked", false);	
              $('#field-value-translation-checkbox-fr-dict').prop("checked", false);
              
              // User settings auf default
              storeUserSetting("form-field-wordClass-select-type", "excl_names");
              storeUserSetting("TranscriptionScript", "hieratic");
              storeUserSetting("TranscriptionEncoding", "unicode");
              storeUserSetting("Mdc","enabled");
              storeUserSetting("RootEncoding", "unicode");
              storeUserSetting("TranslationLang", "de");
           });
          }
          
          //]]>
        </script>
      </button>
    </div>

    <!-- Translation field and languages checkboxes widget.
      Creates a group of input fields for submitting translation queries for specified languages.

      params:
        key (string): unique identifier
        bind (string): NAME of the data binding target
        languages (list): possible language identifiers (e.g. list of `tla.domain.model.Language` values)
    -->
    <div class="bg-grey form-group row col-xl-12"
        th:fragment="translation-spec(key, bind, languages)" th:object="${__${bind}__}">
      <label class="col-form-label col-xl-2" th:for="|field-label-translation-${key}|" th:text="#{field_label_translation}">
        Translation
      </label>
      <div class="col-xl-10">
        <input class="form-control mb-3"  type="text" th:field="*{translation.text}" th:id="|field-label-translation-${key}|"/>
        <div th:each="lang : ${languages}" class="form-check form-check-inline">
          <input class="form-check-input" type="radio" th:field="*{translation.lang}" th:value="${lang}"
              th:id="|field-value-translation-checkbox-${lang}-${key}|"/>
          <label class="form-check-label" th:for="|field-value-translation-checkbox-${lang}-${key}|"
              th:text="#{|lang_label_${lang}|}">Language</label>
           <script>
					if (getUserSetting("TranslationLang")==null) {
					storeUserSetting("TranslationLang", "de");
					 document.getElementById("field-value-translation-checkbox-de-dict").setAttribute("checked",true);					
					}
              </script>
        </div>
      </div>
    </div>
    <!-- 
    Encodings -->
    
    <div class="col-xl-10" th:fragment="transcription-spec(key, bind, encodings)" th:object="${__${bind}__}">
				 <input type="text" class="bbaw-libertine form-control mb-3 keyboardInput" th:field="*{transcription.text}" th:id="dict-search-transcription" rows="3" name="transcription" lang="egy"/>
                 <div th:each="enc : ${encodings}" class="form-check form-check-inline">
						 
							  <input class="form-check-input transcription-enc-btn"  type="radio" name="transcription_enc" th:id="|transcription_enc_${enc}|" th:field="*{transcription.enc}" th:value="${enc}"/>
							  <label class="form-check-label" for="|transcription_enc_${enc}|"   th:text="#{|field_value_label_enc_${enc}|}">Unicode</label>
							 
						</div>
					
					<script>		
						if (getUserSetting("TranscriptionEncoding")==null) {
						storeUserSetting("TranscriptionEncoding", "unicode");
						document.getElementById("transcription_enc_unicode").setAttribute("checked",true);
						document.getElementById("transcription_enc_mdc").setAttribute("disabled",true);
						}
					</script>	          
      </div>
      
       

    <!-- Type / Subtype selection multi-dropdown composite -->

   <div class="form-group row bg-grey" th:fragment="type-spec(name, bind, typeMap)" th:object="${__${bind}__}">
        <label class="col-form-label col-xl-2" th:for="|${name}-type|" th:text="#{|field_label_${name}_type|}">Type/Subtype specification</label>
        <div class="col-xl-10">
          <select class="form-control" th:id="|${name}-type|" th:field="*{type}">
           <option value=""/>
            <option th:each="type : ${typeMap}" th:value="${type.key}" th:text="#{|field_value_label_${name}_type_${type.key}|}" >Type
           
         </option>
         <script>
     if(getUserSetting("form-field-wordClass-select-type")==null){
     		document.getElementById("wordClass-type").selectedIndex=1;
     				
     }
     else  if(getUserSetting("form-field-wordClass-select-type")== "excl_namestitlesepithets"){
        		document.getElementById("wordClass-type").selectedIndex=2;
        				
        }	
        else  if(getUserSetting("form-field-wordClass-select-type")== "excl_names"){
        		document.getElementById("wordClass-type").selectedIndex=1;
        				
        }	
        else  if(getUserSetting("form-field-wordClass-select-type")== "adjective"){
    		document.getElementById("wordClass-type").selectedIndex=3;
    				
        }	
        else  if(getUserSetting("form-field-wordClass-select-type")== "adverb"){
    		document.getElementById("wordClass-type").selectedIndex=4;
    				
    }	
        else  if(getUserSetting("form-field-wordClass-select-type")== "entity_name"){
    		document.getElementById("wordClass-type").selectedIndex=5;
    				
    }	
        else  if(getUserSetting("form-field-wordClass-select-type")== "interjection"){
    		document.getElementById("wordClass-type").selectedIndex=6;
    				
    }	
        else  if(getUserSetting("form-field-wordClass-select-type")== "substantive"){
    		document.getElementById("wordClass-type").selectedIndex=7;
    				
    }	
        else  if(getUserSetting("form-field-wordClass-select-type")== "numeral"){
    		document.getElementById("wordClass-type").selectedIndex=8;
    				
    }
        else  if(getUserSetting("form-field-wordClass-select-type")== "particle"){
    		document.getElementById("wordClass-type").selectedIndex=9;
    				
    }
        else  if(getUserSetting("form-field-wordClass-select-type")== "preposition"){
    		document.getElementById("wordClass-type").selectedIndex=10;
    				
    }	
        else  if(getUserSetting("form-field-wordClass-select-type")== "pronoun"){
    		document.getElementById("wordClass-type").selectedIndex=11;
    				
    }
        else  if(getUserSetting("form-field-wordClass-select-type")== "root"){
    		document.getElementById("wordClass-type").selectedIndex=12;
    				
    }
        else  if(getUserSetting("form-field-wordClass-select-type")== "epitheton_title"){
    		document.getElementById("wordClass-type").selectedIndex=13;
    				
    }
        else  if(getUserSetting("form-field-wordClass-select-type")== "verb"){
    		document.getElementById("wordClass-type").selectedIndex=14;
    				
    }	
        else  if(getUserSetting("form-field-wordClass-select-type")== "undefined"){
    		document.getElementById("wordClass-type").selectedIndex=15;
    				
    }
        
        else document.getElementById("wordClass-type").selectedIndex=0;
         </script>
          </select>
          <!-- create hidden subtype menu for each type -->
          <select th:unless="${#lists.isEmpty(type.value)}" th:each="type : ${typeMap}" th:id="|${name}-type-hidden-options-${type.key}|" hidden="true">
            <option value=""/>
            <option th:each="subtype : ${type.value}" th:value="${subtype}" th:text="#{|field_value_label_${name}_subtype_${subtype}|}" th:selected="${subtype} == ${__${bind}__.subtype}">Subtype</option>
          </select>
        </div>
        <label class="col-form-label col-xl-2" th:for="|${name}-subtype|" th:text="#{|field_label_${name}_subtype|}">Subtype</label>
        <div class="col-xl-10">
          <select class="form-control" th:id="|${name}-subtype|" th:field="*{subtype}">
            <script th:inline="javascript">
              //<![CDATA[
              function populateSubTypeDropDown(name) {
                let options = $(`#${name}-type-hidden-options-` + $(`#${name}-type`).val());
                let dropdown = $(`#${name}-subtype`);
                if (options.children('option').length > 0) {
                  dropdown.html(options.html());
                } else {
                  dropdown.html('');
                }
                dropdown.attr('hidden', options.children('option').length < 1);
                dropdown.val('');
              }
              {
                let name = /*[[${name}]]*/ null;
                $(`#${name}-type`).on('input', () => {
                  populateSubTypeDropDown(name);
                  saveDropdown(name, 'type');
                });
              }
              //]]>
            </script>
            <script th:inline="javascript">
              //<![CDATA[
              {
                let name = /*[[${name}]]*/ null;
                $(`#${name}-subtype`).on('input', () => {
                	saveDropdown(name, 'subtype');
                });
              }
              //]]>
            </script>
            <script th:inline="javascript">
              //<![CDATA[
             
              $(window).on('pageshow', () => {
                let name = /*[[${name}]]*/ null;
                let typeValue = $(`#${name}-type > :selected`).val() || getUserSetting(`form-field-${name}-select-type`);
                let subtypeValue = $(`#${name}-type-hidden-options-${typeValue} > :selected`).val() || getUserSetting(`form-field-${name}-select-subtype`);
                              if (typeValue) {
                  $(`#${name}-type`).val(typeValue);
                  populateSubTypeDropDown(name);
                }
                if (subtypeValue) {
                  $(`#${name}-subtype`).val(subtypeValue);
                }
              });
              //]]>
            </script>
          </select>
        </div>
      </div>
 

  </body>
</html>
