<article>
	<header>
	<h1 th:text="#{editorial_title_listings_digital-references}">Digital References</h1>
	</header>
	<section>
		<table>
			<thead>
				<tr><th th:text="#{listings_digital-references_table_header_ref}">Digital reference</th><th th:text="#{listings_digital-references_table_header_url}">Project URL</th></tr>
			</thead>
			<tbody>
				<tr><th scope="row">Legacy TLA</th>
					<td><a href="https://aaew.bbaw.de/tla" target="_blank">https://aaew.bbaw.de/tla</a></td></tr>
				<tr><th scope="row">Aegyptiaca</th>
					<td><a href="https://aegyptiaca.uni-muenster.de" target="_blank">https://aegyptiaca.uni-muenster.de</a></td></tr>
				<tr><th scope="row">British Museum</th>
					<td><a href=" https://www.britishmuseum.org/collection" target="_blank"> https://www.britishmuseum.org/collection</a></td></tr>
				<tr><th scope="row">Projet Karnak</th>
					<td><a href="http://sith.huma-num.fr/karnak" target="_blank">http://sith.huma-num.fr/karnak</a></td></tr>
				<tr><th scope="row">Demotische Wortliste</th>
					<td><a href="https://www.dwl.aegyptologie.uni-muenchen.de" target="_blank">https://www.dwl.aegyptologie.uni-muenchen.de</a></td></tr>
				<tr><th scope="row">Digitalisiertes Zettelarchiv</th>
					<td><a href="https://aaew.bbaw.de/tla/servlet/DzaIdx" target="_blank">https://aaew.bbaw.de/tla/servlet/DzaIdx</a></td></tr>
				<tr><th scope="row">Database of Early Dynastic Inscriptions</th>
					<td><a href="https://www1.ivv1.uni-muenster.de/litw3/Aegyptologie/index06.htm" target="_blank">https://www1.ivv1.uni-muenster.de/litw3/Aegyptologie/index06.htm</a></td></tr>
				<tr><th scope="row">Gemeinsame Normdatei</th>
					<td><a href="https://www.dnb.de/DE/Professionell/Standardisierung/GND/gnd.html" target="_blank">https://www.dnb.de/DE/Professionell/Standardisierung/GND/gnd.html</a></td></tr>
				<tr><th scope="row">Multilingual Egyptological Thesaurus</th>
					<td><a href="http://projetrosette.info/page.php?Id=290" target="_blank">http://projetrosette.info/page.php?Id=290</a></td></tr>
				<tr><th scope="row">Online Egyptological Bibliography</th>
					<td><a href="https://oeb.griffith.ox.ac.uk" target="_blank">https://oeb.griffith.ox.ac.uk</a></td></tr>
				<tr><th scope="row">Ramses Online</th>
					<td><a href="http://ramses.ulg.ac.be" target="_blank">http://ramses.ulg.ac.be</a></td></tr>
				<tr><th scope="row">Thot – Thesauri and Ontology</th>
					<td><a href="https://thot.philo.ulg.ac.be/" target="_blank">https://thot.philo.ulg.ac.be/</a></td></tr>
				<tr><th scope="row">Topological Bibliography</th>
					<td><a href="http://topbib.griffith.ox.ac.uk/" target="_blank">http://topbib.griffith.ox.ac.uk/</a></td></tr>
				<tr><th scope="row">Trismegistos</th>
					<td><a href="https://www.trismegistos.org" target="_blank">https://www.trismegistos.org</a></td></tr>
				<tr><th scope="row">Turin Papyrus Online Platform</th>
					<td><a href="https://papyri.museoegizio.it" target="_blank">https://papyri.museoegizio.it</a></td></tr>
				<tr><th scope="row">Vocabulaire de l’Égyptien Ancien</th>
					<td><a href="https://vega-vocabulaire-egyptien-ancien.fr" target="_blank">https://vega-vocabulaire-egyptien-ancien.fr</a></td></tr>
				<tr><th scope="row">Wikidata</th>
					<td><a href="https://www.wikidata.org" target="_blank">https://www.wikidata.org</a></td></tr>
				<tr><th scope="row">Zeitschriftendatenbank</th>
					<td><a href="https://zeitschriftendatenbank.de" target="_blank">https://zeitschriftendatenbank.de</a></td></tr>
			</tbody>
		</table>
	</section>
	<footer>Text: S.D.Schweitzer, D.A.Werning</footer>
</article>