<article>
	<header>
		<h1 id="page-title" th:text="#{listings_ling-glossing_title}">Linguistic Glossing Abbreviations</h1>
	</header>
	<section>
		<table>
			<thead>
				<tr>
				  <th th:text="#{listings_ling-glossing_table_header_gloss}">Gloss</th>
				  <th th:text="#{listings_ling-glossing_table_header_meaning}">Meaning</th>
				</tr>
			</thead>
			<tbody>
				<tr><th scope="row" class="ling-glossing-static">1</th><td>1st person</td></tr>
				<tr><th scope="row" class="ling-glossing-static">2</th><td>2nd person</td></tr>
				<tr><th scope="row" class="ling-glossing-static">3</th><td>3rd person</td></tr>
				<tr><th scope="row" class="ling-glossing-static">act</th><td>active</td></tr>
				<tr><th scope="row" class="ling-glossing-static">ADJ</th><td>adjective</td></tr>
				<tr><th scope="row" class="ling-glossing-static">adv</th><td>adverb</td></tr>
				<tr><th scope="row" class="ling-glossing-static">advz</th><td>adverbializer/adverbialized</td></tr>
				<tr><th scope="row" class="ling-glossing-static">ant</th><td>anterior (perfective, perfect)</td></tr>
				<tr><th scope="row" class="ling-glossing-static">ART</th><td>article</td></tr>
				<tr><th scope="row" class="ling-glossing-static">AUX</th><td>auxilliary</td></tr>
				<tr><th scope="row" class="ling-glossing-static">card</th><td>cardinal number</td></tr>
				<tr><th scope="row" class="ling-glossing-static">cnsv</th><td>consecutive</td></tr>
				<tr><th scope="row" class="ling-glossing-static">compl</th><td>completive</td></tr>
				<tr><th scope="row" class="ling-glossing-static">du</th><td>dual</td></tr>
				<tr><th scope="row" class="ling-glossing-static">excl</th><td>exclamative</td></tr>
				<tr><th scope="row" class="ling-glossing-static">f</th><td>femininum</td></tr>
				<tr><th scope="row" class="ling-glossing-static">imp</th><td>imperative</td></tr>
				<tr><th scope="row" class="ling-glossing-static">inf</th><td>infinitive</td></tr>
				<tr><th scope="row" class="ling-glossing-static">m</th><td>masculinum</td></tr>
				<tr><th scope="row" class="ling-glossing-static">N</th><td>noun</td></tr>
				<tr><th scope="row" class="ling-glossing-static">nmlz</th><td>nominalizer/nominalized</td></tr>
				<tr><th scope="row" class="ling-glossing-static">NUM</th><td>number</td></tr>
				<tr><th scope="row" class="ling-glossing-static">oblv</th><td>obligative</td></tr>
				<tr><th scope="row" class="ling-glossing-static">ord</th><td>ordinal number</td></tr>
				<tr><th scope="row" class="ling-glossing-static">pass</th><td>passive</td></tr>
				<tr><th scope="row" class="ling-glossing-static">pl</th><td>plural</td></tr>
				<tr><th scope="row" class="ling-glossing-static">poss</th><td>possessive</td></tr>
				<tr><th scope="row" class="ling-glossing-static">post</th><td>posterior</td></tr>
				<tr><th scope="row" class="ling-glossing-static">PREP</th><td>preposition</td></tr>
				<tr><th scope="row" class="ling-glossing-static">PRON</th><td>pronoun</td></tr>
				<tr><th scope="row" class="ling-glossing-static">PTCL</th><td>particle</td></tr>
				<tr><th scope="row" class="ling-glossing-static">ptcp</th><td>participle</td></tr>
				<tr><th scope="row" class="ling-glossing-static">rel</th><td>relative pronoun/Relative Form</td></tr>
				<tr><th scope="row" class="ling-glossing-static">res</th><td>resultative</td></tr>
				<tr><th scope="row" class="ling-glossing-static">sg</th><td>singular</td></tr>
				<tr><th scope="row" class="ling-glossing-static">stc</th><td>status constructus</td></tr>
				<tr><th scope="row" class="ling-glossing-static">stpr</th><td>status pronominalis</td></tr>
				<tr><th scope="row" class="ling-glossing-static">tam</th><td>tense/aspect/mode</td></tr>
				<tr><th scope="row" class="ling-glossing-static">V</th><td>verb</td></tr>
				<tr><th scope="row" class="ling-glossing-static">vblz</th><td>verbializer/verbialized</td></tr>
			</tbody>
		</table>
	</section>
   <footer>
      <div th:replace="fragments/common :: static-page-citationBox('Daniel A. Werning', '')"/>
   </footer>
</article>