---
name: build

on: [push, pull_request]

jobs:

  build:
    runs-on: ubuntu-latest
    steps:

    - name: checkout code
      uses: actions/checkout@v2

    - name: install xmllint
      run: sudo apt-get install --no-install-recommends -y libxml2-utils

    - uses: korelstar/xmllint-problem-matcher@v1

    - name: validate HTML templates
      run: find src/main/resources/{templates,pages} -type f -iname "*.html" -exec xmllint --noout {} \;

    - name: set up jdk
      uses: actions/setup-java@v1
      with:
        java-version: 11

    - name: make ./gradlew executable
      run: chmod +x gradlew

    - name: run tests && build project
      run: ./gradlew build

    - uses: KyleAure/junit-report-annotations-action@1.5
      with:
        name: "tests"
        access-token: ${{ secrets.GITHUB_TOKEN }}
      if: always()

...
